<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>발주 리스트</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<div layout:fragment="content">

    <div>
        test
    </div>

</div>


<script layout:fragment="script" th:inline="javascript">

    console.log("발주 리스트 페이지")

</script>

</html>