<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>발주 등록</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <strong>발주 등록</strong>
                    <hr>
                </div>
                <div class="card-body mt-3">
                    <form class="form-horizontal" action="/order/register" method="post">

                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>계획 일련번호</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialProcurementPlanNo" class="form-control selectPlan"
                                       placeholder="클릭해서 불러오기">
                            </div>

                            <label class="col-sm-3 control-label"><strong>계약 코드</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialProcurementContractCode"
                                       class="form-control selectContract" placeholder="클릭하여 불러오기">
                            </div>

                            <label class="col-sm-3 control-label"><strong>자재 코드</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialCode" class="form-control materialCode">
                            </div>
                            <label class="col-sm-3 control-label"><strong>자재 명</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialName" class="form-control materialName">
                            </div>

                            <label class="col-sm-3 control-label"><strong>카테고리1</strong></label>
                            <div class="col-sm-3">
                                <select class="form-control" placeholder="분류 선택">
                                    <optgroup label="분류">
                                        <option value="type1">타입1</option>
                                        <option value="type2">타입2</option>
                                        <option value="type3">타입3</option>
                                    </optgroup>
                                    <optgroup label="분류2">
                                        <option value="type1">타입1</option>
                                        <option value="type2">타입2</option>
                                        <option value="type3">타입3</option>
                                    </optgroup>
                                </select>
                            </div>

                            <label class="col-sm-3 control-label"><strong>카테고리2</strong></label>
                            <div class="col-sm-3">
                                <select class="form-control" placeholder="분류 선택">
                                    <optgroup label="분류">
                                        <option value="type1">타입1</option>
                                        <option value="type2">타입2</option>
                                        <option value="type3">타입3</option>
                                    </optgroup>
                                    <optgroup label="분류2">
                                        <option value="type1">타입1</option>
                                        <option value="type2">타입2</option>
                                        <option value="type3">타입3</option>
                                    </optgroup>
                                </select>
                            </div>


                            <label class="col-sm-3 control-label"><strong>소요량</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialRequirementsCount"
                                       class="form-control materialRequirementsCount">
                            </div>
                            <hr>
                            <label class="col-sm-3 control-label"><strong>자재 공급단가</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialSupplyPrice" class="form-control materialSupplyPrice"
                                       readonly>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>자재 협력사명</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="supplierName" class="form-control supplierName" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>협력사 대표자</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="supplierCeoName" class="form-control supplierCeoName" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>대표 연락처</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="supplierTel" class="form-control supplierTel" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>발주 코드</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="orderCode" class="form-control orderCode" placeholder="클릭해주세요"
                                       readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>담당자 이름</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="employeeName" class="form-control"
                                       th:value="${user.employeeName}" readonly>
                            </div>

                            <span class="col-sm-3 control-label"><strong>발주 수량</strong></span>
                            <div class="col-sm-3">
                                <input type="text" name="orderQuantity" class="form-control" placeholder="ex_)">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>납기일</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="procurementDeliveryDate"
                                       class="form-control procurementDeliveryDate" readonly>
                            </div>
                            <div class="d-none input-group mb-3">
                                <span class="input-group-text">계약 일련번호</span>
                                <input type="text" name="materialProcurementContractNo"
                                       class="form-control materialProcurementContractNo" placeholder="계약 일련번호"
                                       readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>계약일</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="materialProcurementContractDate"
                                       class="form-control materialProcurementContractDate" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>발주 코드</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="orderCode" class="form-control orderCode" placeholder="클릭해주세요"
                                       readonly>
                            </div>

                            <span class="col-sm-3 control-label"><strong>발주일</strong></span>
                            <div class="col-sm-3">
                                <input type="date" name="orderDate" class="form-control" placeholder="발주일">
                            </div>
                            <div class="d-none input-group mb-3">
                                <span class="input-group-text">담당자 일련번호</span>
                                <input type="text" name="employeeNo" class="form-control" th:value="${user.employeeNo}"
                                       readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="row">

                            <div class="d-none input-group mb-3">
                                <span class="input-group-text">납기일</span>
                                <input type="date" name="orderDeliveryDate" class="form-control" placeholder="납기일">
                            </div>
                            <div class="d-none input-group mb-3">
                                <span class="input-group-text">발주 상태</span>
                                <input type="text" name="orderState" class="form-control" placeholder="발주 상태 - 추후 숨길 부분"
                                       th:value="진행중" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>비고</strong></label>
                            <div class="col-sm-9">
                                <textarea name="orderEtc" rows="5" cols="50"  style="width: 100% !important;" class="textarea"></textarea>
                            </div>
                        </div><!--end row-->
                        <div class="my-4">
                            <div class="float-right">
                                <button type="submit" class="btn btn-primary submitBtn">등록</button>
                                <button type="reset" class="btn btn-secondary">초기화</button>
                            </div>
                        </div>
                    </form>

                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    <!-- 조달 계획 선택을 위한 모달창 -->
    <div class="modal selectPlanModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">조달 계획 검색</h5>
                </div>
                <div class="modal-body">


                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">자재코드</th>
                                            <th scope="col">자재명</th>
                                            <th scope="col">소요량</th>
                                            <th scope="col">납기일</th>
                                            <th scope="col">조달상태</th>
                                        </tr>
                                        </thead>

                                        <tbody class="planList">

                                        </tbody>
                                    </table>

                                    <div class="float-end">
                                        <ul class="pagination flex-wrap planPaging">
                                        </ul>
                                    </div>
                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->


                </div><!-- modal body end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark closePlanBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!-- end 계획 모달창 -->


    <!-- 조달 계약 선택을 위한 모달창 -->
    <div class="modal selectContractModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">자재 계약 검색</h5>
                </div>
                <div class="modal-body">


                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">자재코드</th>
                                            <th scope="col">자재명</th>
                                            <th scope="col">공급단가</th>
                                            <th scope="col">납품업체명</th>
                                            <th scope="col">계약상태</th>
                                        </tr>
                                        </thead>

                                        <tbody class="contractList">

                                        </tbody>
                                    </table>

                                    <div class="float-end">
                                        <ul class="pagination flex-wrap contractPaging">
                                        </ul>
                                    </div>
                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->


                </div><!-- modal body end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark closeContractBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!-- end 계약 모달창 -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/order.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">

    const auth = [[${#authentication}]]

    console.log(auth)

    //등록시 에러 처리-----------------------------------

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if (errors) {
        for (let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field} : ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 계획 선택 ------------------------------------------------

    const planModal = new bootstrap.Modal(document.querySelector(".selectPlanModal"))

    const planList = document.querySelector(".planList")//조달 계획 목록 DOM
    const planPaging = document.querySelector(".planPaging")//조달 계획 페이지 선택 목록 DOM

    const closePlanBtn = document.querySelector(".closePlanBtn")

    let planPage = 1
    let planPageSize = 5

    document.querySelector(".selectPlan").addEventListener("click", function (e) {
        printPlans(1, 5)
        planModal.show()
    }, false)

    closePlanBtn.addEventListener("click", function (e) {
        planModal.hide()
    })

    function printPlanList(dtoList) {//조달 계획 목록

        console.log("print plan list")

        let str = ''

        if (dtoList && dtoList.length > 0) {

            for (const dto of dtoList) {

                console.log(dto)

                str += `<tr>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialProcurementPlanNo}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialCode}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialName}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialRequirementsCount}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.procurementDeliveryDate}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialProcurementState}</td>
                        </tr>`

            }

        }

        planList.innerHTML = str

    }

    function printPlanPages(data) {//조달 계획 목록 페이징 처리

        let pageStr = '';

        if (data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
        }
        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if (data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
        }
        planPaging.innerHTML = pageStr

        planPage = data.page

    }

    function printPlans(page, size) {

        getPlanList({page, size}).then(
            data => {
                printPlanList(data.dtoList)
                printPlanPages(data)
            }
        ).catch(e => {
            console.log("print plans error")
            console.error(e)
        })
    }

    //계획 목록 페이징
    planPaging.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (!target || target.tagName != 'A') {
            return
        }

        const pageNum = target.getAttribute("data-page")
        planPage = pageNum
        printPlans(planPage, planPageSize)

    }, false)

    const inputPlanNo = document.querySelector(".selectPlan")
    const materialCode = document.querySelector(".materialCode")
    const materialName = document.querySelector(".materialName")
    const materialRequirementsCount = document.querySelector(".materialRequirementsCount")
    const procurementDeliveryDate = document.querySelector(".procurementDeliveryDate")


    //계획 항목 클릭시 input 에 반영
    planList.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        console.log("plan click")

        const target = e.target

        if (!target || target.tagName != 'TD') {
            return
        }

        const planNo = target.getAttribute("data-planNo")

        if (!planNo) {
            return
        }

        getPlan(planNo).then(plan => {

            console.log(plan)
            inputPlanNo.value = plan.materialProcurementPlanNo
            //조달 계획 정보를 가져와서 화면에 반영해야할 항목들은 여기에-----------------------------------------------------
            materialCode.value = plan.materialCode
            materialName.value = plan.materialName
            materialRequirementsCount.value = plan.materialRequirementsCount
            procurementDeliveryDate.value = new Date(plan.procurementDeliveryDate).toISOString().split('T')[0]
            //-----------------------------------------------------------------------------------------------------------

            planModal.hide()

        }).catch(e => alert('error'))

    }, false)


    // 계약 선택 -----------------------------------------------------------------------

    const contractModal = new bootstrap.Modal(document.querySelector(".selectContractModal"))

    const contractList = document.querySelector(".contractList")//조달 계약 목록 DOM
    const contractPaging = document.querySelector(".contractPaging")//조달 계약 페이지 선택 목록 DOM

    const closeContractBtn = document.querySelector(".closeContractBtn")

    let contractPage = 1
    let contractPageSize = 5

    document.querySelector(".selectContract").addEventListener("click", function (e) {

        if (materialCode.value.length > 0) {
            printContracts(1, 5)
            contractModal.show()
        } else {
            alert("계획을 먼저 선택해주세요.")
        }

    }, false)

    closeContractBtn.addEventListener("click", function (e) {
        contractModal.hide()
    })

    function printContractList(dtoList) {//조달 계약 목록

        let str = ''

        if (dtoList && dtoList.length > 0) {

            for (const dto of dtoList) {

                console.log(dto)

                str += `<tr>
                            <td data-contractNo="${dto.materialProcurementContractNo}">${dto.materialProcurementContractNo}</td>
                            <td data-contractNo="${dto.materialProcurementContractNo}">${dto.materialCode}</td>
                            <td data-contractNo="${dto.materialProcurementContractNo}">${dto.materialName}</td>
                            <td data-contractNo="${dto.materialProcurementContractNo}">${dto.materialSupplyPrice}</td>
                            <td data-contractNo="${dto.materialProcurementContractNo}">${dto.supplierName}</td>
                            <td data-contractNo="${dto.materialProcurementContractNo}">${dto.materialProcurementContractState}</td>
                        </tr>`

            }

        }

        contractList.innerHTML = str

    }


    function printContractPages(data) {//조달 계약 목록 페이징 처리

        let pageStr = '';

        if (data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
        }
        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if (data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
        }
        contractPaging.innerHTML = pageStr

        contractPage = data.page

    }

    function printContracts(page, size) {

        const type = "b"
        const keyword = materialCode.value

        getContractList({page, size, type, keyword}).then(
            data => {
                printContractList(data.dtoList)
                printContractPages(data)
            }
        ).catch(e => {
            console.error(e)
        })
    }

    //계약 목록 페이징
    contractPaging.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (!target || target.tagName != 'A') {
            return
        }

        const pageNum = target.getAttribute("data-page")
        contractPage = pageNum
        printContracts(contractPage, contractPageSize)

    }, false)


    const materialProcurementContractNo = document.querySelector(".materialProcurementContractNo")
    const inputContractCode = document.querySelector(".selectContract")
    const materialProcurementContractDate = document.querySelector(".materialProcurementContractDate")
    const materialSupplyPrice = document.querySelector(".materialSupplyPrice")
    const supplierName = document.querySelector(".supplierName")

    //계획 항목 클릭시 input 에 반영
    contractList.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        console.log("plan click")

        const target = e.target

        if (!target || target.tagName != 'TD') {
            return
        }

        const contractNo = target.getAttribute("data-contractNo")

        if (!contractNo) {
            return
        }

        getContract(contractNo).then(contract => {

            console.log(contract)
            materialProcurementContractNo.value = contract.materialProcurementContractNo
            //계약 정보를 가져와서 화면에 반영해야할 항목들은 여기에------------------------------------------------------------
            inputContractCode.value = contract.materialProcurementContractCode
            materialProcurementContractDate.value = new Date(contract.materialProcurementContractDate).toISOString().split('T')[0]
            materialSupplyPrice.value = contract.materialSupplyPrice
            supplierName.value = contract.supplierName
            //-----------------------------------------------------------------------------------------------------------
            contractModal.hide()

        }).catch(e => alert('error'))

    }, false)


    //발주 코드 생성 -------------------------------------------------------------------------------------------------------------

    const orderCode = document.querySelector(".orderCode")

    orderCode.addEventListener("click", function (e) {

        let str = 'ORDER-'

        str += new Date().toISOString().split('T')[0].replaceAll('-', '')
        str += '-'

        getCodeCount(str).then(result => {

            str += result.data

            orderCode.value = str

        }).catch(e => alert('error'))


    }, false)


</script>


</html>