<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>구매 협력회사 상세</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    구매 협력회사 상세
                </div>
                <div class="card-body mt-3">
                    <div class="input-group mb-3 d-none">
                        <span class="input-group-text">구매협력회사 일련번호</span>
                        <input type="text" name="clientNo" class="form-control clientNo" th:value="${dto.clientNo}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">사업자등록번호</span>
                        <input type="text" name="corporateRegistrationNo" class="form-control corporateRegistrationNo" th:value="${dto.corporateRegistrationNo}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">회사 명</span>
                        <input type="text" name="clientName" class="form-control clientName" th:value="${dto.clientName}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">대표자 명</span>
                        <input type="text" name="clientCeo" class="form-control clientCeo" th:value="${dto.clientCeo}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">주소</span>
                        <input type="text" name="clientAddress" class="form-control clientAddress" th:value="${dto.clientAddress}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">연락처</span>
                        <input type="text" name="clientPhone" class="form-control clientPhone" th:value="${dto.clientPhone}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">이메일</span>
                        <input type="text" name="clientEmail" class="form-control clientEmail" th:value="${dto.clientEmail}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">계약상태</span>
                        <input type="text" name="clientStatus" class="form-control clientStatus" th:value="${dto.clientStatus}" readonly>
                    </div>
                    <div class="input-group mb-3 ">
                        <span class="input-group-text">비고</span>
                        <textarea name="clientEtc" rows="5" cols="50" class="form-control h-25" readonly>[[${dto.clientEtc}]]</textarea>
                    </div>

                    <div class="my-4">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}" >
                            <a th:href="|@{CooperatorClient}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">구매협력회사 목록</button>
                            </a>
                            <a th:href="|@{CooperatorClient}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">수정</button>
                            </a>
                        </div>
                    </div>

                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</div>




<script layout:fragment="script" th:inline="javascript">

    console.log([[${dto}]])


</script>




</html>