<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재 입고 상세
                </div>
                <div class="card-body">

                        <div class="input-group mb-3">
                            <span class="input-group-text">자재 재고 일련번호</span>
                            <input type="text" th:value="${dto.orderNo}" class="form-control" placeholder="orderNo" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">발주 코드</span>
                            <input type="text" th:value="${dto.orderCode}" class="form-control" placeholder="orderCode" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">자재명</span>
                            <input type="text" th:value="${dto.materialName}" class="form-control" placeholder="materialName" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">공급 단가</span>
                            <input type="text" th:value="${dto.materialSupplyPrice}" class="form-control" placeholder="materialSupplyPrice" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">입고 수량</span>
                            <input type="text" th:value="${dto.orderQuantity}" class="form-control" placeholder="materialIncomingQuantity" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">담당자</span>
                            <input type="text" th:value="${dto.employeeName}" class="form-control" placeholder="employeeName" readonly>
                        </div>

                        <div class="my-4">

                            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">

                                <button type="button" class="btn btn-secondary">검수 진행</button>

                                <a th:href="|@{/materialInventory/stockList}?${link}|" class="text-decoration-none">
                                    <button type="button" class="btn btn-primary">돌아가기</button>
                                </a>

                            </div>
                        </div>

                </div>

            </div>

        </div>

    </div>

    <div class="modal returnModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- 모달 이름 -->
                    <h5 class="modal-title">입고</h5>
                    <!-- data-dismiss="modal"를 통해 모달을 닫을수 있다. -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div><!-- end modal-header -->
                <div class="modal-body">
                    <!-- 모달 내용 -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">자제 코드</span>
                        <input type="text" th:value="${dto.orderCode}" class="form-control" placeholder="orderCode" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재명</span>
                        <input type="text" th:value="${dto.materialName}" class="form-control" placeholder="materialName" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">입고 수량</span>
                        <input type="text" id="quantity" th:value="${dto.orderQuantity}" class="form-control" placeholder="orderQuantity" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">반품 수량</span>
                        <input type="text" th:value="${num}" class="form-control" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">정상 입고 수량</span>
                        <input type="text" id="reresult" th:value="${result}" class="form-control" readonly>
                    </div>

                </div> <!-- end modal-body -->
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger">반품 진행</button>
                    <button type="button" class="btn btn-dark">반품 취소</button>
                    <button type="button" class="btn btn-light">반품 완료</button>
                    <button type="button" class="btn btn-info">자재 입고 완료</button>

                </div>
            </div> <!-- end modal-content -->
        </div>
    </div><!-- register modal -->

</div>

<script layout:fragment="script" th:inline="javascript">

    document.querySelector(".btn-secondary").addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        const modal = new bootstrap.Modal(document.querySelector(".modal"))

        modal.show()

    }, false)

    document.querySelector(".btn-danger").addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        alert("반품 진행 클릭")

    }, false)

    document.querySelector(".btn-dark").addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        alert("반품 취소 클릭")

    }, false)

    document.querySelector(".btn-light").addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        alert("반품 완료 클릭")

    }, false)

    document.querySelector(".btn-info").addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        const remain = document.getElementById("quantity").value
        const store = document.getElementById("reresult").value

        if (remain != store) {
            alert("입고 수량이 맞지 않음")
        } else {
            alert("입고 완료")
        }

    }, false)

</script>


<body>



</body>
</html>