<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <title>자재 출고 등록</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          자재 출고 등록
        </div>
        <div class="card-body mt-3">
          <form action="/materialInventory/materialOutRegister" method="post">


            <div class="input-group mb-3 d-none">
              <span class="input-group-text">자재 일련번호</span>
              <input type="text" name="materialNo" class="form-control materialNo"  readonly>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">자재 코드</span>
              <input type="text" name="materialCode" class="form-control materialCode" id="selectMaterial" placeholder="클릭해주세요" readonly>
            </div>

            <div class="input-group mb-3 pl-5">
              <span class="input-group-text">자재 이름</span>
              <input type="text" name="materialName" class="form-control materialName" readonly>
            </div>

            <div class="input-group mb-3 pl-5">
              <span class="input-group-text">재고 수량</span>
              <input type="text" name="materialStock" class="form-control materialStock" id="selectMaterialStockModal" placeholder="클릭해주세요" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">출고수량</span>
              <input type="number" name="productOutgoingQuantity" class="form-control productOutgoingQuantity" placeholder="출고 수량" >
            </div>


            <div class="input-group mb-3 d-none">
              <span class="input-group-text">담당자 일련번호</span>
              <input type="text" name="employeeNo" class="form-control employeeNo" th:value="${user.employeeNo}" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">담당자 이름</span>
              <input type="text" name="employeeName" class="form-control employeeName" th:value="${user.employeeName}" readonly>
            </div>

            <div class="my-4">
              <div class="float-end">
                <!-- 제품 계약 만들면 list, read, modify만들기
                <a th:href="@{/materialProcurementPlanning/list}" class="text-decoration-none">
                  <button type="button" class="btn btn-outline-dark">List</button>
                </a>
                !-->
                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
            </div>

          </form>

        </div><!--end card body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->

  <!--자재 선택을 위한 모달창-->
  <div class="modal selectMaterialModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">자재 검색</h5>
        </div>
        <div class="modal-body">


          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">자재 코드</th>
                      <th scope="col">자재 이름</th>
                      <th scope="col">자재 분류</th>
                      <th scope="col">공급 단가</th>
                    </tr>
                    </thead>

                    <tbody class="materialList">

                    </tbody>
                  </table>

                  <div class="float-end">
                    <ul class="pagination flex-wrap materialPaging"></ul>
                  </div>
                </div><!--end card body-->
              </div><!--end card-->
            </div><!--end col-->
          </div><!--end row-->

        </div><!--end modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark closeMaterialBtn">Close</button>
        </div>
      </div>
    </div>
  </div><!--end 자재 모달창-->

  <!--재고 수량확인 및 선택 위한 모달창-->
  <div class="modal selectMaterialStockModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">자재 재고 수량 검색</h5>
        </div>
        <div class="modal-body">


          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">자재 코드</th>
                      <th scope="col">자재 이름</th>
                      <th scope="col">재고수량</th>
                    </tr>
                    </thead>

                    <tbody class="materialStockList">

                    </tbody>
                  </table>

                  <div class="float-end">
                    <ul class="pagination flex-wrap materialPaging"></ul>
                  </div>
                </div><!--end card body-->
              </div><!--end card-->
            </div><!--end col-->
          </div><!--end row-->

        </div><!--end modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark closeMaterialStockBtn">Close</button>
        </div>
      </div>
    </div>
  </div><!--end 자재 모달창-->


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="/js/materialOut.js"></script>

</div>



<script layout:fragment="script" th:inline="javascript">


  const auth = [[${#authentication}]]

  console.log(auth)

  // 등록시 에러 처리 ----------------------------------------------------------------

  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''

  if (errors) {
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
    }
    alert(errorMsg)
  }


  //자재 선택 --------------------------------------------------------------------------------------------------

  const materialModal = new bootstrap.Modal(document.querySelector(".selectMaterialModal"))

  const materialList = document.querySelector(".materialList")  //자재 목록 DOM
  const materialPaging = document.querySelector(".materialPaging")  //자재 페이지 선택 목록 DOM

  const closeMaterialBtn = document.querySelector(".closeMaterialBtn")

  let materialPage = 1
  let materialPageSize = 5

  document.querySelector("#selectMaterial").addEventListener("click", function (e) {
    console.log("select material modal show")
    printMaterials(1, 5)
    materialModal.show()
  }, false)

  closeMaterialBtn.addEventListener("click", function (e) {
    materialModal.hide()
  })

  function printMaterialList(dtoList) { //자재 목록

    let str = ''

    if (dtoList && dtoList.length > 0) {

      for ( const dto of dtoList) {

        console.log(dto)

        str += `<tr>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialNo}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialCode}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialType}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialName}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialSupplyPrice}</td>
              </tr>`
      }
    }

    materialList.innerHTML = str
  }

  function printMaterialPages(data) { //자재 목록 페이징 처리

    let pageStr = '';

    if (data.prev) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
    }
    for (let i = data.start; i <= data.end; i++) {
      pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
    }
    if (data.next) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
    }
    materialPaging.innerHTML = pageStr

    materialPage = data.page

  }

  function printMaterials(page, size) {

    getMaterialList({page, size}).then(
            data => {
              printMaterialList(data.dtoList)
              printMaterialPages(data)
            }
    ).catch(e => {
      console.error(e)
    })
  }

  //자재 목록 페이징
  materialPaging.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if (!target || target.tagName != 'A') {
      return
    }

    const pageNum = target.getAttribute("data-page")
    materialPage = pageNum
    printMaterials(materialPage, materialPageSize)

  }, false)

  const materialNo = document.querySelector(".materialNo")
  const inputMaterialCode = document.querySelector("#selectMaterial")
  const materialType = document.querySelector(".materialType")
  const materialName = document.querySelector(".materialName")
  const materialSupplyPrice = document.querySelector(".materialSupplyPrice")

  //자재 항목 클릭시 input에 반영
  materialList.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    console.log("material click")

    const target = e.target

    if (!target || target.tagName != 'TD') {
      return
    }

    const materialsNo = target.getAttribute("data-materialsNo")

    if (!materialsNo) {
      return;
    }

    getMaterial(materialsNo).then(material => {

      console.log(material)
      console.log("check0")
      materialNo.value = material.materialNo
      //자재 정보를 가져와서 화면에 반영해야 할 항목들은 여기에 --------------------------------------------------------
      console.log("check1")
      inputMaterialCode.value = material.materialCode
      materialType.value = material.materialType
      console.log("check2")
      materialName.value = material.materialName
      //------------------------------------------------------------------------------------------------------
      materialSupplyPrice.value = material.materialSupplyPrice
      console.log("성공")
      materialModal.hide()

    }).catch(e => alert('error'))

  }, false)


  //재고수량 선택 --------------------------------------------------------------------------------------------------

  const materialStockModal = new bootstrap.Modal(document.querySelector(".selectMaterialStockModal"))

  const materialStockList = document.querySelector(".materialStockList")  //재고 목록 DOM
  const materialStockPaging = document.querySelector(".materialStockPaging")  //자재 페이지 선택 목록 DOM

  const closeMaterialStockBtn = document.querySelector(".closeMaterialStockBtn")

  let materialStockPage = 1
  let materialPageStockSize = 5

  document.querySelector("#selectMaterialStockModal").addEventListener("click", function (e) {
    console.log("select materialStock modal show")
    printMaterialsStock(1, 5)
    materialStockModal.show()
  }, false)

  closeMaterialStockBtn.addEventListener("click", function (e) {
    materialStockModal.hide()
  })

  function printMaterialStockList(dtoList) { //자재 재고 목록

    let str = ''

    if (dtoList && dtoList.length > 0) {

      for ( const dto of dtoList) {

        console.log(dto)

        str += `<tr>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialNo}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialCode}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialName}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialStock}</td>
              </tr>`
      }
    }

    materialStockList.innerHTML = str
  }

  function printMaterialStockPages(data) { //자재 목록 페이징 처리

    let pageStr = '';

    if (data.prev) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
    }
    for (let i = data.start; i <= data.end; i++) {
      pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
    }
    if (data.next) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
    }
    materialStockPaging.innerHTML = pageStr

    materialStockPage = data.page

  }

  function printMaterialsStock(page, size) {

    getMaterialStockList({page, size}).then(
            data => {
              printMaterialStockList(data.dtoList)
              printMaterialStockPages(data)
            }
    ).catch(e => {
      console.error(e)
    })
  }

  //자재 목록 페이징
  materialPaging.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if (!target || target.tagName != 'A') {
      return
    }

    const pageNum = target.getAttribute("data-page")
    materialStockPage = pageNum
    printMaterialsStock(materialStockPage, materialPageStockSize)

  }, false)

  const materialNo = document.querySelector(".materialNo")
  const inputMaterialCode = document.querySelector("#selectMaterial")
  const materialName = document.querySelector(".materialName")
  const materialStock = document.querySelector(".materialStock")

  //자재 항목 클릭시 input에 반영
  materialStockList.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    console.log("materialStock click")

    const target = e.target

    if (!target || target.tagName != 'TD') {
      return
    }

    const materialsNo = target.getAttribute("data-materialsNo")

    if (!materialsNo) {
      return;
    }

    getMaterialStock(materialsNo).then(material => {

      console.log(material)
      console.log("check0")
      materialNo.value = material.materialNo
      //자재 재고 정보를 가져와서 화면에 반영해야 할 항목들은 여기에 --------------------------------------------------------
      console.log("check1")
      materialStock.value = material.materialStock
      //------------------------------------------------------------------------------------------------------
      console.log("성공")
      materialModal.hide()

    }).catch(e => alert('error'))

  }, false)

</script>


</html>