<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/basic.html}">


<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    MaterialInventory
                </div>
                <div class="card-body">
                    <h5 class="card-title">MaterialInventory</h5>

                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">자재 코드</th>
                            <th scope="col">자재 이름</th>
                            <th scope="col">카테고리</th>
                            <th scope="col">입고 수량</th>
                            <th scope="col">공급 단가</th>
                            <th scope="col">발주 일자</th>
                            <th scope="col">발주 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>

                        </tr>
                        </tbody>

                    </table>

                </div>

            </div>
        </div>
    </div>
</div>


<script layout:fragment="script" th:inline="javascript">
    console.log("script............")
</script>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>