<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>입고 검수</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재 입고 상세
                </div>
                <div class="card-body mt-3">
                    <form id="incomingForm">
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재 코드</span>
                            <input type="text" name="materialCode" class="form-control materialCode" th:value="${dto.materialCode}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">자재명</span>
                            <input type="text" name="materialName" class="form-control" th:value="${dto.materialName}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">공급 단가</span>
                            <input type="text" name="materialSupplyPrice" class="form-control" th:value="${dto.materialSupplyPrice}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">입고 수량</span>
                            <input type="text" name="orderQuantity" class="form-control" th:value="${dto.orderQuantity}" readonly>
                        </div>

                        <div class="d-none input-group mb-3">
                            <span class="input-group-text">담당자 일련번호</span>
                            <input type="text" name="employeeNo" class="form-control" th:value="${dto.employeeNo}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">담당자</span>
                            <input type="text" name="employeeName" class="form-control" th:value="${dto.employeeName}" readonly>
                        </div>

                        <div class="my-4">
                            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                                <button type="button" class="btn btn-outline-default afterComp">입고 완료됨</button>
                                <button type="button" class="btn btn-primary startCheck">검수 진행</button>
                                <button type="button" class="btn btn-info startReturn">반품 진행</button>
                                <button type="button" class="btn btn-warning cancelReturn">반품 취소</button>
                                <button type="button" class="btn btn-success compReturn">반품 완료</button>
                                <button type="button" class="btn btn-primary compIncoming">자재 입고 완료</button>
                                <a th:href="|@{/materialInventory/listIncoming}?${link}|" class="text-decoration-none">
                                    <button type="button" class="btn btn-default">목록 페이지</button>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/order.js"></script>

</div>

<script layout:fragment="script" th:inline="javascript">


    const orderNo = [[${dto.orderNo}]]
    let state = [[${dto.orderState}]]

    console.log(state)

    const afterComp = document.querySelector('.afterComp')
    const startCheck = document.querySelector('.startCheck')
    const startReturn = document.querySelector('.startReturn')
    const cancelReturn = document.querySelector('.cancelReturn')
    const compReturn = document.querySelector('.compReturn')

    const compIncoming = document.querySelector('.compIncoming')

    //검수진행
    startCheck.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        state = "입고검수진행중"

        //상태 변환
        changeState({orderNo, state}).then(result => {
            //버튼 출력
            printButton()
        })

    }, false)

    //반품진행
    startReturn.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        state = "반품진행중"

        //상태 변환
        changeState({orderNo, state}).then(result => {
            //버튼 출력
            printButton()
        })

    }, false)

    //반품취소
    cancelReturn.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        state = "검수완료"

        //상태 변환
        changeState({orderNo, state}).then(result => {
            //버튼 출력
            printButton()
        })

    }, false)

    //반품완료
    compReturn.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        state = "검수완료"

        //상태 변환
        changeState({orderNo, state}).then(result => {
            //버튼 출력
            printButton()
        })

    }, false)

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#incomingForm")


    //자재입고완료
    compIncoming.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        state = "자재입고완료"

        //상태 변환
        changeState({orderNo, state}).then(result => {
            //버튼 출력
            printButton()
        })


        formObj.action = `/materialInventory/completeIncoming?${link}`
        formObj.method = 'post'
        formObj.submit()

    }, false)



    function printButton(){

        switch (state) {
            case "입고검수진행중":
                afterComp.style.display = 'none'
                startCheck.style.display = 'none'
                startReturn.style.display = 'inline'
                cancelReturn.style.display = 'none'
                compReturn.style.display = 'none'
                compIncoming.style.display = 'inline'
                break
            case "반품진행중" :
                afterComp.style.display = 'none'
                startCheck.style.display = 'none'
                startReturn.style.display = 'none'
                cancelReturn.style.display = 'inline'
                compReturn.style.display = 'inline'
                compIncoming.style.display = 'none'
                break
            case "자재입고완료" :
                afterComp.style.display = 'inline'
                startCheck.style.display = 'none'
                startReturn.style.display = 'none'
                cancelReturn.style.display = 'none'
                compReturn.style.display = 'none'
                compIncoming.style.display = 'none'
                break
            default :
                afterComp.style.display = 'none'
                startCheck.style.display = 'inline'
                startReturn.style.display = 'none'
                cancelReturn.style.display = 'none'
                compReturn.style.display = 'none'
                compIncoming.style.display = 'none'

        }
    }

    printButton()

</script>


<body>



</body>
</html>