<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>제품별 자재 항목 리스트</title>
</head>

<div layout:fragment="content">

    <div class="row mt-12 m-l-15">
        <form class="col-lg-10" action="/materialRequirementsList/list2" method="get">
            <div class="form-group">
                <p class="text-muted m-b-15 f-s-12">
                    "검색하고 싶은
                    <code>카테고리를 선택하고 키워드</code>
                    를 입력한 뒤 search버튼을 누르세요"
                </p>
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">---</option>
                            <!--a:제품코드 b:제품이름 c:제품타입 d:자재코드 e:자재이름 f:자재타입-->
                            <option value="a" th:selected="${pageRequestDTO.type == 'a'}">제품 코드</option>
                            <option value="b" th:selected="${pageRequestDTO.type == 'b'}">제품 이름</option>
                            <option value="c" th:selected="${pageRequestDTO.type == 'c'}">제품 타입</option>
                            <!--목록에는 제품만 나오게 하고 read에서 자재 항목 나오게??-->
                            <option value="d" th:selected="${pageRequestDTO.type == 'd'}">자재 코드</option>
                            <option value="e" th:selected="${pageRequestDTO.type == 'e'}">자재 이름</option>
                            <option value="f" th:selected="${pageRequestDTO.type == 'f'}">자재 타입</option>

                        </select>
                    </div>
                    <input type="text" class="form-control input-focus" name="keyword"
                           th:value="${pageRequestDTO.keyword}" placeholder="INPUT KEYWORD">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success searchBtn" type="submit">
                            <i class="ti-search"></i> Search</button>
                        <button class="btn btn-outline-danger clearBtn" type="button">Clear</button>
                    </div>
                </div>
            </div>
        </form>


    </div>


    <div class="row mt-3">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재 코드를 클릭하세요.
                </div>


                <div class="card-body">

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">제품 코드</th>
                            <th scope="col">제품 이름</th>
                            <th scope="col">제품 타입</th>
                            <!--목록에는 제품만 나오게 하고 read에서 자재 항목 나오게??-->

                            <th scope="col">자재 코드</th>
                            <th scope="col">자재 이름</th>
                            <th scope="col">자재 타입</th>
                            <th scope="col">자재 수량</th>

                        </tr>
                        </thead>


                        <tbody th:with="link = ${pageRequestDTO.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <td>[[${dto.materialRequirementsListNo}]]</td>
                            <td>
                                [[${dto.productCode}]]</td>
                            <td>[[${dto.productName}]]</td>
                            <td>[[${dto.productType}]]</td>
                            <td th:data-materialCode="${dto.materialCode}" th:data-materialName="${dto.materialName}" th:data-materialType="${dto.materialType}" th:data-quantity="${dto.quantity}"
                                    value="Send Value" onclick="sendValue( this.getAttribute('data-materialCode'), this.getAttribute('data-materialName'), this.getAttribute('data-materialType'), this.getAttribute('data-quantity') )">
                                [[${dto.materialCode}]]</td>
                            <td>[[${dto.materialName}]]</td>
                            <td>[[${dto.materialType}]]</td>
                            <td>[[${dto.quantity}]]</td>

                        </tr>

                        </tbody>
                    </table>

                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start -1}">PREV</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">

                                <li th:class="${responseDTO.page == i}?'page-item active' : 'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>

                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">NEXT</a>
                            </li>
                        </ul>
                    </div>

                </div><!--end card body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->


</div>

<script layout:fragment="script" th:inline="javascript">

    console.log("제품 별 자재 항목 리스트 페이지")

    document.querySelector(".pagination").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (target.tagName !== 'A') {
            return
        }

        const num = target.getAttribute("data-num")

        const formObj = document.querySelector("form")

        formObj.innerHTML += `<input type = "hidden" name="page" value="${num}">`

        formObj.submit();

    }, false)

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location = '/materialRequirementsList/list2'
    }, false)



    // 생산계획 등록 -> 제품 별 자재 항목 코드를 클릭시 자재코드, 자재이름, 자재타입, 수량 같이 옴
    function sendValue(materialCode,materialName, materialType, quantity) {

        var data = document.getElementsByClassName(materialCode);
        var data2 = document.getElementsByClassName(materialName);
        var data3 = document.getElementsByClassName(materialType);
        var data4 = document.getElementsByClassName(quantity);

        console.log(data);
        console.log(data2);
        console.log(data3);
        console.log(data4);

        // window.opener.document.getElementById("materialRequirementsListNo").value = materialCode;
        window.opener.document.getElementById("materialCode").value = materialCode;
        window.opener.document.getElementById("materialName").value = materialName;
        window.opener.document.getElementById("materialType").value = materialType;
        window.opener.document.getElementById("quantity").value = quantity;
        window.close();
    }

</script>



</html>