<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>자재조달계약 리스트</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
</head>

<div layout:fragment="content">

    <div class="row mt-12 m-l-15">
        <form class="col-lg-10" action="/materialProcurementContract/list" method="get">
            <div class="form-group">
                <p class="text-muted m-b-15 f-s-12">
                    "검색하고 싶은
                    <code>카테고리를 선택하고 키워드</code>
                    를 입력한 뒤 search버튼을 누르세요"
                </p>
                <input type="hidden" name="size" th:value="${pageRequestDTO.size}">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select class="form-select" name="type">
                            <option value="">---</option>
                            <!--a: No, b:자재코드, c:자재이름, d:공급단가, e:납품업체명, f:자재조달계약상태-->
                            <option value="a" th:selected="${pageRequestDTO.type == 'a'}">조달계약 일련번호</option>
                            <option value="b" th:selected="${pageRequestDTO.type == 'b'}">자재 코드</option>
                            <option value="c" th:selected="${pageRequestDTO.type == 'c'}">자재 이름</option>
                            <option value="d" th:selected="${pageRequestDTO.type == 'd'}">공급 단가</option>
                            <option value="e" th:selected="${pageRequestDTO.type == 'e'}">납품 업체명</option>
                            <option value="f" th:selected="${pageRequestDTO.type == 'f'}">자재조달 계약상태</option>
                        </select>
                    </div>

                    <input type="text" class="form-control input-focus" name="keyword"
                           th:value="${pageRequestDTO.keyword}" placeholder="INPUT KEYWORD">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success searchBtn" type="submit">
                            <i class="ti-search"></i> Search</button>
                        <button class="btn btn-outline-danger clearBtn" type="button">Clear</button>
                    </div>

                </div>
            </div>
        </form>


    </div>

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재조달계약 리스트
                </div>
                <div class="my-4">
                    <div class="float-left">
                        <a th:href="@{/materialProcurementContract/register}" class="text-decoration-none">
                            <button type="button" class="btn btn-primary registerBtn">Register</button>
                        </a>
                    </div>
                </div>

                <div class="card-body">

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">no</th>
                            <th scope="col">자재 코드</th>
                            <th scope="col">자재 이름</th>
                            <th scope="col">공급 단가</th>
                            <th scope="col">납품 업체명</th>
                            <th scope="col">계약 상태</th>
                        </tr>
                        </thead>
                        <tbody th:with="link = ${pageRequestDTO.getLink()}">
                        <tr th:each="dto:${responseDTO.dtoList}">
                            <td>[[${dto.materialProcurementContractNo}]]</td>
                            <td>
                                <a th:href="|@{/materialProcurementContract/read(materialProcurementContractNo =
                                 ${dto.materialProcurementContractNo})}&${link}|" class="text-decoration-none">[[${dto.materialCode}]]</a>
                            </td>
                            <td>[[${dto.materialName}]]</td>
                            <td>[[${dto.materialSupplyPrice}]]</td>
                            <td>[[${dto.supplierName}]]</td>
                            <td>[[${dto.supplierStatus}]]</td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="float-end">
                        <ul class="pagination flex-wrap">

                            <li class="page-item" th:if="${responseDTO.prev}">
                                <a class="page-link" th:data-num="${responseDTO.start -1}">Previous</a>
                            </li>

                            <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">

                                <li th:class="${responseDTO.page == i}?'page-item active':'page-item'">
                                    <a class="page-link" th:data-num="${i}">[[${i}]]</a>
                                </li>

                            </th:block>

                            <li class="page-item" th:if="${responseDTO.next}">
                                <a class="page-link" th:data-num="${responseDTO.end + 1}">Next</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

</div>

<script layout:fragment="script" th:inline="javascript">

    console.log("자재조달계약 리스트 페이지")

    $(document).ready(function () {
        console.log([[${pageRequestDTO}]])
        console.log([[${pageRequestDTO.link}]])
        console.log([[${responseDTO}]])
    })

    document.querySelector(".pagination").addEventListener("click", function(e){
        e.preventDefault()
        e.stopPropagation()

        var target = e.target

        if(target.tagName !== 'A'){
            return
        }

        var num = target.getAttribute("data-num")

        var formObj = document.querySelector("form")

        formObj.innerHTML += `<input type="hidden" name="page" value="${num}">`

        formObj.submit()

    }, false)

    document.querySelector(".clearBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location = '/materialProcurementPlanning/list'
    }, false)

    //show modal
    const result = [[${result}]]

    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if(result){
        modal.show()
    }


</script>

</html>