<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>자재조달계약 등록</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재조달계약 등록
                </div>
                <div class="card-body mt-3">
                    <form action="/materialProcurementContract/register" method="post">

                        <div class="input-group mb-3">
                            <span class="input-group-text">계약 코드</span>
                            <input type="text" name="materialProcurementContractCode" class="form-control" id="materialProcurementContractCode" placeholder="클릭해주세요" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">계약일</span>
                            <input type="date" name="materialProcurementContractDate" class="form-control" placeholder="계약일">
                        </div>

                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">조달계획 일련번호</span>
                            <input type="text" name="materialProcurementPlanNo" class="form-control materialProcurementPlanNo" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">조달계획 코드</span>
                            <input type="text" name="materialProcurementPlanCode" class="form-control selectPlan" placeholder="클릭해주세요" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 코드</span>
                            <input type="text" name="materialCode" class="form-control materialCode" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 타입</span>
                            <input type="text" name="materialType" class="form-control materialType" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 이름</span>
                            <input type="text" name="materialName" class="form-control materialName" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 공급단가</span>
                            <input type="text" name="materialSupplyPrice" class="form-control materialSupplyPrice" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 소요량</span>
                            <input type="text" name="materialRequirementsCount" class="form-control materialRequirementsCount" placeholder="자재 소요량" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">조달 수량</span>
                            <input type="text" name="procurementQuantity" class="form-control procurementQuantity" placeholder="조달 수량">
                        </div>

                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">자재 협력회사 일련번호</span>
                            <input type="text" name="supplierNo" class="form-control supplierNo" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재 협력회사명</span>
                            <input type="text" name="supplierName" class="form-control selectSupplier" placeholder="클릭해주세요" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="margin-left: 50px">대표명</span>
                            <input type="text" name="supplierCeo" class="form-control supplierCeo" readonly>
                            <span class="input-group-text" style="margin-left: 20px">연락처</span>
                            <input type="text" name="supplierPhone" class="form-control supplierPhone" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">계약상태</span>
                            <input type="text" name="supplierStatus" class="form-control supplierStatus" placeholder="계약 상태 - 추후 숨길 부분" th:value="계약중" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">조달상태</span>
                            <input type="text" name="materialProcurementContractState" class="form-control" placeholder="조달 상태 - 추후 숨길 부분" th:value="진행중" readonly>
                        </div>

                        <div class="input-group mb-3" >
                            <span class="input-group-text">비고</span>
                            <textarea name="materialProcurementContractEtc" rows="5" cols="50" class="form-control h-25"></textarea>
                        </div>

                        <div class="input-group mb-3 pl-5 d-none">
                            <span class="input-group-text">담당자 일련번호</span>
                            <input type="text" name="employeeNo" class="form-control" th:value="${user.employeeNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">담당자</span>
                            <input type="text" name="employeeName" class="form-control" th:value="${user.employeeName}" readonly>
                        </div>


                        <div class="my-4">
                            <div class="float-end">
                                <a th:href="@{/materialProcurementContract/list}" class="text-decoration-none">
                                    <button type="button" class="btn btn-outline-dark">List</button>
                                </a>
                                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                                <button type="reset" class="btn btn-secondary">Reset</button>
                            </div>
                        </div>
                    </form>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

    <!-- 조달 계획 선택을 위한 모달창 -->
    <div class="modal selectPlanModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">조달 계획 검색</h5>
                </div>
                <div class="modal-body">


                    <div class="row mt-3">
                        <div class="col">

                                <div class="card-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">조달계획코드</th>
                                            <th scope="col">자재코드</th>
                                            <th scope="col">자재타입</th>
                                            <th scope="col">자재이름</th>
                                            <th scope="col">공급단가</th>
                                            <th scope="col">자재소요량</th>
                                        </tr>
                                        </thead>

                                        <tbody class="planList">

                                        </tbody>
                                    </table>
                                <div class="d-flex flex-row justify-content-between">
                                    <div class="float-end">
                                        <ul class="pagination flex-wrap planPaging">

                                        </ul>

                                    </div>
                                    <button type="button" class="btn btn-default btn-outline m-b-10 closePlanBtn">Close</button>
                                 </div><!--end card body-->
                                </div> <!--row -->
                        </div><!--end col-->
                    </div><!--end row-->


                </div><!-- modal body end -->
             </div>
        </div>
    </div><!-- end 자재 모달창 -->


    <!-- 자재조달 협력회사 선택을 위한 모달창 -->
    <div class="modal selectSupplierModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">자재조달 협력회사 검색</h5>
                </div>
                <div class="modal-body">


                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">회사명</th>
                                            <th scope="col">대표명</th>
                                            <th scope="col">연락처</th>
                                            <th scope="col">계약상태</th>
                                        </tr>
                                        </thead>

                                        <tbody class="supplierList">

                                        </tbody>
                                    </table>

                                    <div class="float-end">
                                        <ul class="pagination flex-wrap supplierPaging">
                                        </ul>
                                    </div>
                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->


                </div><!-- modal body end -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark closeSupplierBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!-- end 협력 회사 모달창 -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/materialProcurementContract.js"></script>

</div>


<script layout:fragment="script" th:inline="javascript">

    const auth = [[${#authentication}]]

    console.log(auth)

    //등록시 에러 처리-----------------------------------

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length; i++){
            errorMsg += `${errors[i].field} : ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    // 조달 계획 선택 ------------------------------------------------

    const planModal = new bootstrap.Modal(document.querySelector(".selectPlanModal"))

    const planList = document.querySelector(".planList")//조달 계획 목록 DOM
    const planPaging = document.querySelector(".planPaging")//조달 계획 페이지 선택 목록 DOM

    const closePlanBtn = document.querySelector(".closePlanBtn")

    let planPage = 1
    let planPageSize = 5

    document.querySelector(".selectPlan").addEventListener("click", function (e) {
        printPlans(1, 5)
        planModal.show()
    }, false)

    closePlanBtn.addEventListener("click", function (e) {
        planModal.hide()
    })

    function printPlanList(dtoList){//조달 계획 목록

        console.log("print plan list")

        let str = ''

        if(dtoList && dtoList.length > 0){

            for( const dto of dtoList) {

                console.log(dto)

                str += `<tr>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialProcurementPlanNo}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialProcurementPlanCode}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialCode}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialType}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialName}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialSupplyPrice}</td>
                            <td data-planNo="${dto.materialProcurementPlanNo}">${dto.materialRequirementsCount}</td>
                        </tr>`

            }

        }

        planList.innerHTML = str

    }

    function printPlanPages(data){//조달 계획 목록 페이징 처리

        let pageStr = '';

        if(data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start -1}">PREV</a></li>`
        }
        for(let i = data.start; i <= data.end; i++){
            pageStr += `<li class="page-item ${ i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if(data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end +1}">NEXT</a></li>`
        }
        planPaging.innerHTML = pageStr

        planPage = data.page

    }

    function printPlans(page, size) {

        getPlanList({page, size}).then(
            data => {
                printPlanList(data.dtoList)
                printPlanPages(data)
            }
        ).catch(e => {
            console.log("print plans error")
            console.error(e)
        })
    }

    //계획 목록 페이징
    planPaging.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(!target || target.tagName != 'A'){
            return
        }

        const pageNum = target.getAttribute("data-page")
        planPage = pageNum
        printPlans(planPage, planPageSize)

    }, false)

    const materialProcurementPlanNo = document.querySelector(".materialProcurementPlanNo")
    const inputPlanCode = document.querySelector(".selectPlan")
    const materialCode = document.querySelector(".materialCode")
    const materialType = document.querySelector(".materialType")
    const materialName = document.querySelector(".materialName")
    const materialSupplyPrice = document.querySelector(".materialSupplyPrice")
    const materialRequirementsCount = document.querySelector(".materialRequirementsCount")


    //계획 항목 클릭시 input 에 반영
    planList.addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        console.log("plan click")

        const target = e.target

        if(!target || target.tagName != 'TD'){
            return
        }

        const planNo = target.getAttribute("data-planNo")

        if(!planNo){
            return
        }

        getPlan(planNo).then(plan => {

            console.log(plan)
            materialProcurementPlanNo.value = plan.materialProcurementPlanNo
            //조달 계획 정보를 가져와서 화면에 반영해야할 항목들은 여기에-----------------------------------------------------
            inputPlanCode.value = plan.materialProcurementPlanCode
            materialCode.value = plan.materialCode
            materialType.value = plan.materialType
            materialName.value = plan.materialName
            materialSupplyPrice.value = plan.materialSupplyPrice
            materialRequirementsCount.value = plan.materialRequirementsCount
            //-----------------------------------------------------------------------------------------------------------

            planModal.hide()

        }).catch(e => alert('error'))

    }, false)


    // 자재 조달 협력회사 선택 -----------------------------------------------------------------------

    const supplierModal = new bootstrap.Modal(document.querySelector(".selectSupplierModal"))

    const supplierList = document.querySelector(".supplierList")//협력 회사 목록 DOM
    const supplierPaging = document.querySelector(".supplierPaging")//협력 회사 페이지 선택 목록 DOM

    const closeSupplierBtn = document.querySelector(".closeSupplierBtn")

    let supplierPage = 1
    let supplierPageSize = 5

    document.querySelector(".selectSupplier").addEventListener("click", function (e) {
        printSuppliers(1, 5)
        supplierModal.show()
    }, false)

    closeSupplierBtn.addEventListener("click", function (e) {
        supplierModal.hide()
    })

    function printSupplierList(dtoList){//협력 회사 목록

        let str = ''

        if(dtoList && dtoList.length > 0){

            for( const dto of dtoList) {

                console.log(dto)

                str += `<tr>
                            <td data-suppliersNo="${dto.supplierNo}">${dto.supplierNo}</td>
                            <td data-suppliersNo="${dto.supplierName}">${dto.supplierName}</td>
                            <td data-suppliersNo="${dto.supplierCeo}">${dto.supplierCeo}</td>
                            <td data-suppliersNo="${dto.supplierPhone}">${dto.supplierPhone}</td>
                            <td data-suppliersNo="${dto.supplierStatus}">${dto.supplierStatus}</td>
                        </tr>`

            }

        }

        supplierList.innerHTML = str

    }


    function printSupplierPages(data){//협력 회사 목록 페이징 처리

        let pageStr = '';

        if(data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`
        }
        for(let i = data.start; i <= data.end; i++){
            pageStr += `<li class="page-item ${ i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if(data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end+1}">NEXT</a></li>`
        }
        supplierPaging.innerHTML = pageStr

        supplierPage = data.page

    }

    function printSuppliers(page, size) {

        getSupplierList({page, size}).then(
            data => {
                printSupplierList(data.dtoList)
                printSupplierPages(data)
            }
        ).catch(e => {
            console.error(e)
        })
    }

    //협력 회사 목록 페이징
    supplierPaging.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(!target || target.tagName != 'A'){
            return
        }

        const pageNum = target.getAttribute("data-page")
        supplierPage = pageNum
        printSuppliers(supplierPage, supplierPageSize)

    }, false)


    const supplierNo = document.querySelector(".supplierNo")
    const inputSupplierName = document.querySelector(".selectSupplier")
    const supplierCeo = document.querySelector(".supplierCeo")
    const supplierPhone = document.querySelector(".supplierPhone")
    const supplierStatus = document.querySelector(".supplierStatus")

    //협력 회사 항목 클릭시 input 에 반영
    supplierList.addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        console.log("supplier click")

        const target = e.target

        if(!target || target.tagName != 'TD'){
            return
        }

        const suppliersNo = target.getAttribute("data-suppliersNo")

        if(!suppliersNo){
            return
        }

        getSupplier(suppliersNo).then(supplier => {

            console.log(supplier)
            supplierNo.value = supplier.supplierNo
            //계약 정보를 가져와서 화면에 반영해야할 항목들은 여기에------------------------------------------------------------
            inputSupplierName.value = supplier.supplierName
            supplierCeo.value = supplier.supplierCeo
            supplierPhone.value = supplier.supplierPhone
            supplierStatus.value = supplier.supplierStatus
            //-----------------------------------------------------------------------------------------------------------

            supplierModal.hide()

        }).catch(e => alert('error'))

    }, false)


    //자재조달 계약 코드 생성 -------------------------------------------------------------------------------------------------------------

    const materialProcurementContractCode = document.querySelector("#materialProcurementContractCode")

    materialProcurementContractCode.addEventListener("click", function(e) {

        let str = 'MP-CONTRACT-'

        str += new Date().toISOString().split('T')[0].replaceAll('-','')
        str += '-'

        getCodeCount(str).then( result => {

            str += result.data

            materialProcurementContractCode.value = str

        }).catch(e => alert('error'))


    }, false)




</script>

    </html>