<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>제품생산계획상세-연관자재조달계획목록</title>
<!--    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>-->
</head>

<div layout:fragment="content">

    <div class="row mt-3">

        <div class="col">
            <div class="card">
                <div class="card-header">
                    제품 생산 계획 상세 - 연관 자재 조달 계획 목록

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary listBtn" type="button">Production Planning List</button>
                    </div>

                </div>

                <div class="card-body">

                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">NO</th>
                            <th scope="col">자재 코드</th>
                            <th scope="col">자재 이름</th>
                            <th scope="col">생산 소요 공정</th>
                            <th scope="col">생산 소요 기간</th>
                            <th scope="col">자재 조달 소요량</th>
                            <th scope="col">자재 조달 납기일</th>
                            <th scope="col">생산 납기일</th>
                            <th scope="col">자재 조달 상태</th>
                            <th scope="col">생산 진행 상태</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="dto:${dtoList}">
                            <td>[[${dto.materialProcurementPlanNo}]]</td>
                            <td>[[${dto.materialCode}]]</td>
                            <td>[[${dto.materialName}]]</td>
                            <td>[[${dto.productionRequirementsProcess}]]</td>
                            <td>[[${dto.productionRequirementsDate}]]</td>
                            <td>[[${dto.materialRequirementsCount}]]</td>
                            <td>[[${dto.procurementDeliveryDate}]]</td>
                            <td>[[${dto.productionDeliveryDate}]]</td>
                            <td>[[${dto.materialProcurementState}]]</td>
                            <td>[[${dto.productionState}]]</td>

                        </tr>

                        </tbody>
                    </table>

                </div><!--end card body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->

    <div class="modal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" >Save changes</button>
                </div>
            </div>

        </div>
    </div>

</div>



<script layout:fragment="script" th:inline="javascript">

    console.log("제품생산계획상세-연관조달계획목록 페이지")

    $(document).ready(function () {
        console.log([[${dtoList}]])
    })

    document.querySelector(".listBtn").addEventListener("click", function (e){
        e.preventDefault()
        e.stopPropagation()

        self.location = '/productionPlanning/list'
    }, false)


    //show modal
    const result = [[${result}]]

    const modal = new bootstrap.Modal(document.querySelector(".modal"))

    if(result){
        modal.show()
    }

</script>

</html>