<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>제품 생산 계획 등록</title>
</head>


<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <strong>생산 계획 등록</strong>
                    <hr>
                </div>

                <div class="card-body mt-3">
                    <form class="form-horizontal" action="/productionPlanning/register" method="post">

                        <div class="row">

                            <label class="col-sm-3 control-label"><strong>제품 계약 일련번호</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="productContractNo" class="form-control selectContract"
                                       placeholder="클릭해주세요" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>제품 계약 코드</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productContractCode" class="form-control productContractCode" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>제품 코드</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productCode" class="form-control productCode" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>제품 이름</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productName" class="form-control productName" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>제품 타입</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productType" class="form-control productType" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>계약 수량</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productQuantity" class="form-control productQuantity" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>생산 수량</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productionQuantity" class="form-control productionQuantity">
                            </div>

                            <label class="col-sm-3 control-label"><strong>제품 납기일</strong></label>
                            <div class="col-sm-3">
                                <input type="date" name="productDeliveryDate" class="form-control productDeliveryDate" readonly>
                            </div>
                        </div><!--end row-->

                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">클라이언트 회사명</span>
                            <input type="text" name="clientName" class="form-control clientName" readonly>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">클라이언트 계약상태</span>
                            <input type="text" name="clientStatus" class="form-control clientStatus" readonly>
                        </div>

                        <hr>

                        <!--새로운 css 자재 추가 영역, 버튼 추가시 오류 발생-->
                        <div class="input-group mb-3">
                            <span>
                              <input class="btn btn-default btn-sm" type="button" value="필요 자재 추가">
                            </span>
                        </div>

                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품별 필요 자재 항목 일련번호</span>
                            <input type="text" name="materialRequirementsListNo"
                                   class="form-control materialRequirementsListNo">
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품 일련번호</span>
                            <input type="text" name="productNo" class="form-control productNo">
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품 코드</span>
                            <input type="text" name="productCode2" class="form-control productCode2" >
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품 이름</span>
                            <input type="text" name="productName2" class="form-control productName2" readonly>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품 타입</span>
                            <input type="text" name="productType2" class="form-control productType2" readonly>
                        </div>

                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>필요 자재 코드</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="materialCode" class="form-control selectMrl" id="selectMrl"
                                       placeholder="클릭해주세요" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>자재 이름</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="materialName" class="form-control materialName" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>자재 타입</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="materialType" class="form-control materialType" readonly>
                            </div>

                            <label class="col-sm-3 control-label" ><strong>필요 수량</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="quantity" class="form-control quantity">
                            </div>
                        </div>

                        <hr>

                        <div class="row">

                            <label class="col-sm-3 control-label"><strong>제품 생산 계획 코드</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productionPlanCode" class="form-control productionPlanCode"
                                       id="productionPlanCode" placeholder="클릭해주세요" readonly>
                            </div>

                            <label class="col-sm-3 control-label"><strong>계획 담당자</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="employeeName2" class="form-control" th:value="${user.employeeName}"
                                       readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>생산 소요 공정</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productionRequirementsProcess"
                                       class="form-control productionRequirementsProcess">
                            </div>
                            <label class="col-sm-3 control-label"><strong>생산 소요 기간</strong></label>
                            <div class="col-sm-3">
                                <input type="text" name="productionRequirementsDate"
                                       class="form-control productionRequirementsDate">
                            </div>
                            <span class="col-sm-3 control-label"><strong>생산 납기일</strong></span>
                            <div class="col-sm-3">
                                <input type="date" name="productionDeliveryDate"
                                       class="form-control productionDeliveryDate">
                            </div>
                            <span class="col-sm-3 control-label"><strong>생산 계획 진행 상태</strong></span>
                            <div class="col-sm-3">
                                <input type="text" name="productionState" class="form-control productionState"  th:value="자재조달단계" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>상세 내용</strong></label>
                            <div class="col-sm-9">
                        <textarea name="detailExplaination" rows="5" cols="50" style="width: 100% !important;"
                                  class="textarea"></textarea>
                            </div>

                            <!--자재조달단계, 자재입고단계, 제품생산단계, 제품검수단계, 제품입고단계-->

                            <div class="input-group mb-3 d-none">
                                <span class="input-group-text">담당자 일련번호</span>
                                <input type="text" name="employeeNo" class="form-control" th:value="${user.employeeNo}" readonly>
                            </div>



                            <div class="my-4">
                                <div class="float-right">
                                    <a th:href="@{/productionPlanning/list}" class="text-decoration-none">
                                        <button type="button" class="btn btn-outline-dark">목록으로</button>
                                    </a>
                                    <button type="submit" class="btn btn-primary submitBtn">등록</button>
                                    <button type="reset" class="btn btn-secondary">초기화</button>
                                </div>
                            </div>

                        </div><!--end row-->

                    </form>

                </div><!-- end card body -->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->


  <!-- 제품 계약 선택을 위한 모달창 -->
    <div class="modal selectContractModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">제품 계약 검색</h5>
                </div>

                <div class="modal-body">

                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">제품코드</th>
                                            <th scope="col">계약수량</th>
                                            <th scope="col">클라이언트 업체명</th>
                                            <th scope="col">제품 납기일</th>
                                            <th scope="col">계약상태</th>
                                        </tr>
                                        </thead>

                                        <tbody class="contractList">

                                        </tbody>
                                    </table>

                                        <div class="float-end">
                                            <ul class="pagination flex-wrap contractPaging">
                                            </ul>
                                        </div>
                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->


                </div><!-- modal body end -->
                <div class="modal-footer">
                   <button type="button" class="btn btn-outline-dark closeContractBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!-- end 계약 모달창 -->


    <!--제품별 필요 자재 선택을 위한 모달창-->
    <div class="modal selectMrlModal" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                   <h5 class="modal-title">필요 자재 검색</h5>
                </div>
                <div class="modal-body">

                    <div class="row mt-3">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <table class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">NO</th>
                                                <th scope="col">제품 코드</th>
                                                <th scope="col">제품 이름</th>
                                                <th scope="col">자재 코드</th>
                                                <th scope="col">자재 이름</th>
                                                <th scope="col">자재 분류</th>
                                                <th scope="col">자재 수량</th>
                                            </tr>
                                        </thead>

                                        <tbody class="mrlList">

                                        </tbody>
                                    </table>

                                    <div class="float-end">
                                         <ul class="pagination flex-wrap mrlPaging"></ul>
                                    </div>
                                </div><!--end card body-->
                            </div><!--end card-->
                        </div><!--end col-->
                    </div><!--end row-->

                </div><!--end modal body-->
                <div class="modal-footer">
                   <button type="button" class="btn btn-outline-dark closeMrlBtn">Close</button>
                </div>
            </div>
        </div>
    </div><!--end 자재 모달창-->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="/js/productionPlanning.js"></script>

</div>



<script layout:fragment="script" th:inline="javascript">


    const auth = [[${#authentication}]]

    console.log(auth)

    // 등록시 에러 처리 ----------------------------------------------------------------

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if (errors) {
      for (let i = 0; i < errors.length; i++) {
        errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
      }
      alert(errorMsg)
    }


  // 계약 선택 -----------------------------------------------------------------------

    const contractModal = new bootstrap.Modal(document.querySelector(".selectContractModal"))

    const contractList = document.querySelector(".contractList")      //제품 계약 목록 DOM
    const contractPaging = document.querySelector(".contractPaging")  //제품 계약 페이지 선택 목록 DOM

    const closeContractBtn = document.querySelector(".closeContractBtn")

    let contractPage = 1
    let contractPageSize = 5

    document.querySelector(".selectContract").addEventListener("click", function (e) {

        printContracts(1, 5)
        contractModal.show()

    }, false)

    closeContractBtn.addEventListener("click", function (e) {
      contractModal.hide()
    })

    function printContractList(dtoList){    //제품 계약 목록

        let str = ''

        if(dtoList && dtoList.length > 0){

            for( const dto of dtoList) {

                console.log(dto)

                str += `<tr>
                                    <td data-contractNo="${dto.productContractNo}">${dto.productContractNo}</td>
                                    <td data-contractNo="${dto.productContractNo}">${dto.productCode}</td>
                                    <td data-contractNo="${dto.productContractNo}">${dto.productQuantity}</td>
                                    <td data-contractNo="${dto.productContractNo}">${dto.clientName}</td>
                                    <td data-contractNo="${dto.productContractNo}">${dto.productDeliveryDate}</td>
                                    <td data-contractNo="${dto.productContractNo}">${dto.clientStatus}</td>
                                </tr>`

            }

        }

      contractList.innerHTML = str

    }


    function printContractPages(data){  //제품 계약 목록 페이징 처리

        let pageStr = '';

        if(data.prev) {
          pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start-1}">PREV</a></li>`
        }
        for(let i = data.start; i <= data.end; i++){
          pageStr += `<li class="page-item ${ i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if(data.next) {
          pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end+1}">NEXT</a></li>`
        }
        contractPaging.innerHTML = pageStr

        contractPage = data.page

    }

    function printContracts(page, size) {

        getContractList({page, size}).then(
                data => {
                  printContractList(data.dtoList)
                  printContractPages(data)
                }
        ).catch(e => {
            console.log("print contracts error")
            console.error(e)
        })
    }

    //계약 목록 페이징
    contractPaging.addEventListener("click", function(e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if(!target || target.tagName != 'A'){
           return
        }

        const pageNum = target.getAttribute("data-page")
        contractPage = pageNum
        printContracts(contractPage, contractPageSize)

    }, false)


    const inputProductContractNo = document.querySelector(".selectContract")    //제품계약일련번호
    const productContractCode = document.querySelector(".productContractCode")       //제품계약코드
    const productCode = document.querySelector(".productCode")                //제품코드
    const productName = document.querySelector(".productName")                //제품이름
    const productType = document.querySelector(".productType")                //제품타입
    const productQuantity = document.querySelector(".productQuantity")        //수량
    const productDeliveryDate = document.querySelector(".productDeliveryDate")        //납기일

    //계약 항목 클릭시 input 에 반영
    contractList.addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        console.log("contract click")

        const target = e.target

        if(!target || target.tagName != 'TD'){
            return
        }

        const contractNo = target.getAttribute("data-contractNo")

        if(!contractNo){
            return
        }

        getContract(contractNo).then(contract => {

            console.log(contract)
            inputProductContractNo.value = contract.productContractNo
            //계약 정보를 가져와서 화면에 반영해야할 항목들은 여기에------------------------------------------------------------
            productContractCode.value = contract.productContractCode
            productCode.value = contract.productCode
            productName.value = contract.productName
            productType.value = contract.productType
            productQuantity.value = contract.productQuantity
            productDeliveryDate.value = new Date(contract.productDeliveryDate).toISOString().split('T')[0]
            //-----------------------------------------------------------------------------------------------------------
            contractModal.hide()

        }).catch(e => alert('error'))

    }, false)



    //제품별 필요 자재 선택 --------------------------------------------------------------------------------------------------

    const mrlModal = new bootstrap.Modal(document.querySelector(".selectMrlModal"))

    const mrlList = document.querySelector(".mrlList")  //자재 목록 DOM
    const mrlPaging = document.querySelector(".mrlPaging")  //자재 페이지 선택 목록 DOM

    const closeMrlBtn = document.querySelector(".closeMrlBtn")

    let mrlPage = 1
    let mrlPageSize = 5

    document.querySelector(".selectMrl").addEventListener("click", function (e) {
        console.log("select material modal show")

        // if(productCode.value.length > 0){
            printMrls(1, 5)
            mrlModal.show()
        // }else {
        //     alert("제품 계약 코드를 먼저 선택해주세요.")
        // }

    }, false)

    closeMrlBtn.addEventListener("click", function (e) {
        mrlModal.hide()
    })

    function printMrlList(dtoList) { //자재 목록

        let str = ''

        if (dtoList && dtoList.length > 0) {

            for ( const dto of dtoList) {

                console.log(dto)

                    str += `<tr>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.materialRequirementsListNo}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.productCode}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.productName}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.productType}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.materialCode}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.materialName}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.materialType}</td>
                              <td data-mrlNo = "${dto.materialRequirementsListNo}">${dto.quantity}</td>
                          </tr>`
            }
        }

      mrlList.innerHTML = str
    }

    function printMrlPages(data) { //자재 목록 페이징 처리

        let pageStr = '';

        if (data.prev) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
        }
        for (let i = data.start; i <= data.end; i++) {
            pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
        }
        if (data.next) {
            pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
        }
        mrlPaging.innerHTML = pageStr

        mrlPage = data.page

    }

    function printMrls(page, size) {

        // const type = "a"
        // const keyword = productCode.value

        // getMrlList({page, size, type, keyword}).then(
        getMrlList({page, size}).then(
                data => {
                  printMrlList(data.dtoList)
                  printMrlPages(data)
                }
        ).catch(e => {
          console.error(e)
        })
    }

    //자재 목록 페이징
    mrlPaging.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        const target = e.target

        if (!target || target.tagName != 'A') {
            return
        }

        const pageNum = target.getAttribute("data-page")
        mrlPage = pageNum
        printMrls(mrlPage, mrlPageSize)

    }, false)

    const materialRequirementsListNo = document.querySelector(".materialRequirementsListNo")
    const productCode2 = document.querySelector(".productCode2")
    const productName2 = document.querySelector(".productName2")
    const productType2 = document.querySelector(".productType2")
    const inputMaterialCode = document.querySelector(".selectMrl")
    const materialName = document.querySelector(".materialName")
    const materialType = document.querySelector(".materialType")
    const quantity = document.querySelector(".quantity")

    //자재 항목 클릭시 input에 반영
    mrlList.addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        console.log("material click")

        const target = e.target

        if (!target || target.tagName != 'TD') {
            return
        }

        const mrlNo = target.getAttribute("data-mrlNo")

        if (!mrlNo) {
            return;
        }

        getMrl(mrlNo).then(mrl => {

            console.log(mrl)
            console.log("check0")
            materialRequirementsListNo.value = mrl.materialRequirementsListNo
            productCode2.value = mrl.productCode
            productName2.value = mrl.productName
            productType2.value = mrl.productType
            //자재 정보를 가져와서 화면에 반영해야 할 항목들은 여기에 --------------------------------------------------------
            console.log("check1")
            inputMaterialCode.value = mrl.materialCode
            materialName.value = mrl.materialName
            console.log("check2")
            materialType.value = mrl.materialType
            quantity.value = mrl.quantity
            //------------------------------------------------------------------------------------------------------
            console.log("성공")

            mrlModal.hide()

        }).catch(e => alert('error'))

    }, false)

    //생산 계획 코드 생성 -------------------------------------------------------------------------------------------------------------

    const productionPlanCode = document.querySelector(".productionPlanCode")

    productionPlanCode.addEventListener("click", function(e) {

        let str = 'PD-PLANNING-'

        str += new Date().toISOString().split('T')[0].replaceAll('-','')
        str += '-'

        getCodeCount(str).then( result => {

            str += result.data

            productionPlanCode.value = str

        }).catch(e => alert('error'))


    }, false)



</script>


</html>