<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>Employee Modify</title>

    <!-- Styles -->
    <link th:href="@{/css/lib/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/helper.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.min.css}" rel="stylesheet"/>
</head>

<div layout:fragment="content">
    <div class="row justify-content-between">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <strong>Employee Modify</strong>
                    <hr>
                </div>

                <div class="card-body">
                    <form class="form-horizontal" th:action="@{/employee/authoritymodify}" method="post" id="f1">

                        <div class="row">

                            <label class="col-sm-3 control-label"><strong>EmployeeNo</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="employeeNo" th:value="${dto.employeeNo}" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>EmployeeID</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="employeeId" th:value="${dto.employeeId}" readonly>
                            </div>
                            <label class="col-sm-3 control-label"><strong>EmployeeName</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="employeeName" th:value="${dto.employeeName}" >
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>EmployeePhone</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="employeePhone" th:value="${dto.employeePhone}" >
                            </div>
                            <label class="col-sm-3 control-label"><strong>EmployeeEmail</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="employeeEmail" th:value="${dto.employeeEmail}" >
                            </div>
                            <label class="col-sm-3 control-label"><strong>EmployeeEntranceDate</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="employeeEntranceDate" th:value="${dto.employeeEntranceDate}" readonly>
                            </div>
                        </div>
                        <hr>

                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>EmployeeDel</strong></label>
                            <div class="col-sm-9">
                                <select class="form-control" name="del" th:value="${dto.del}">
                                    <option value="false"> 재직 </option>
                                    <option value="true"> 퇴사 </option>
                                </select>
                            </div>
                            <label class="col-sm-3 control-label"><strong>EmployeePosition</strong></label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" name="position" th:value="${dto.position.getPositionName()}" >
                            </div>

                            <label class="col-sm-3 control-label"><strong>EmployeeRole</strong></label>
                            <div class="col-sm-9">
                                <select class="form-control" name="role" th:value="${dto.role}">
                                    <option value="[USER]"> [USER] </option>
                                    <option value="[ADMIN]"> [ADMIN] </option>
                                    <option value="[MATERIAL]"> [MATERIAL] </option>
                                    <option value="[ORDER]"> [ORDER] </option>
                                    <option value="[PROCUREMENT]"> [PROCUREMENT] </option>
                                    <option value="[PRODUCT]"> [PRODUCT] </option>
                                    <option value="[CLIENT]"> [CLIENT] </option>
                                    <option value="[SUPPLIER]"> [SUPPLIER] </option>
                                    <option value="[PRODUCTION]"> [PRODUCTION] </option>
                                </select>
                            </div>
                        </div>
                        <div class="my-4">
                            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                                <a th:href="|@{/employee/authority}?${link}|" class="text-decoration-none">
                                    <button type="button" class="btn btn-primary listBtn">List</button>
                                </a>
                                <button type="button" class="btn btn-secondary modBtn">Modify</button>
                                <th:block  sec:authorize="hasRole('ROLE_ADMIN')">   <!-- ADMIN만 삭제 가능 -->
                                    <button type="button" class="btn btn-danger removeBtn">Remove</button>
                                </th:block>
                            </div>
                        </div>
                    </form>
                </div> <!-- end card-body -->


            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/reply.js"></script>


</div><!-- end layout fragment -->

<script layout:fragment="script" th:inline="javascript">
    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i<errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#f1")

    document.querySelector(".modBtn").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/employee/authoritymodify?${link}`
        formObj.method = 'post'
        formObj.submit()


    }, false);

    document.querySelector(".removeBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.action = '/employee/remove'
        formObj.method = 'post'
        formObj.submit()

    }, false);

    document.querySelector(".listBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/employee/authority?${link}`

    }, false);
</script>