<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>자재조달계획 수정</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재조달계획 수정
                </div>
                <div class="card-body">
                    <form th:action="@{/materialProcurementPlanning/modify}" method="post" id="modifyForm">
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재조달계획 일련번호</span>
                            <input type="text" name="materialProcurementPlanNo" class="form-control" th:value="${dto.materialProcurementPlanNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재조달계획 코드</span>
                            <input type="text" name="materialProcurementPlanCode" class="form-control materialProcurementPlanCode" th:value="${dto.materialProcurementPlanCode}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">생산계획 일련번호</span>
                            <input type="text" name="productionPlanNo" class="form-control" th:value="${dto.productionPlanNo}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">자재 코드</span>
                            <input type="text" name="materialCode" class="form-control" th:value="${dto.materialCode}" readonly>
                        </div>

                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 타입</span>
                            <input type="text" name="materialType" class="form-control" th:value="${dto.materialType}" readonly>
                        </div>

                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 이름</span>
                            <input type="text" name="materialName" class="form-control" th:value="${dto.materialName}" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">자재 공급단가</span>
                            <input type="text" name="materialSupplyPrice" class="form-control" th:value="${dto.materialSupplyPrice}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">자재 소요량</span>
                            <input type="number" name="materialRequirementsCount" class="form-control" th:value="${dto.materialRequirementsCount}">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">납기일</span>
                            <input type="date" name="procurementDeliveryDate" class="form-control" th:value="${dto.procurementDeliveryDate}">
                        </div>

                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">담당자 일련번호</span>
                            <input type="text" name="employeeNo" class="form-control" th:value="${dto.employeeNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">담당자 이름</span>
                            <input type="text" name="employeeName" class="form-control" th:value="${dto.employeeName}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">자재조달상태</span>
                            <select name="materialProcurementState">
                                <option value="진행중" selected>진행중</option>
                                <option value="파기">파기</option>
                                <option value="완료">완료</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">등록일</span>
                            <input type="text" class="form-control"
                                   th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">수정일</span>
                            <input type="text" class="form-control"
                                   th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd')}" readonly>
                        </div>

                        <div class="my-4">
                            <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}">
                                <button type="button" class="btn btn-primary listBtn">List</button>
                                <button type="button" class="btn btn-secondary modBtn">Modify</button>
                                <button type="button" class="btn btn-danger removeBtn">Remove</button>
                            </div>
                        </div>

                    </form>

                </div><!--end card body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
</div>

<script layout:fragment="script" th:inline="javascript">

    console.log([[${dto}]])

    // 에러 처리 ------------------------------------------------------------------------------

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i<errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    // 수정 처리 ------------------------------------------------------

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#modifyForm")

    document.querySelector(".modBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.action = `/materialProcurementPlanning/modify?${link}`
        formObj.method = 'post'
        formObj.submit()

    }, false)

    // 목록 페이지로 이동 ---------------------------------------------------------

    document.querySelector(".listBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/materialProcurementPlanning/list?${link}`

    }, false)

    // 삭제 처리 (임시) -----------------------------------------------------------

    document.querySelector(".removeBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.action = '/materialProcurementPlanning/remove'
        formObj.method = 'post'
        formObj.submit()

    }, false);




</script>

</html>