<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/layout.html}">
<head>
    <title>MaterialProcurementPlanning Read</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재조달계획 조회
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">자재조달계획 일련번호</span>
                        <input type="text" class="form-control" th:value="${dto.materialProcurementPlanNo}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">생산계획 일련번호</span>
                        <input type="text" class="form-control" th:value="${dto.productionPlanNo}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재코드</span>
                        <input type="text" class="form-control" th:value="${dto.materialCode}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재타입</span>
                        <input type="text" class="form-control" th:value="${dto.materials}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재이름</span>
                        <input type="text" class="form-control" th:value="${dto.materialName}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재소요량</span>
                        <input type="number" class="form-control" th:value="${dto.materialRequirementsCount}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">납기일</span>
                        <input type="text" class="form-control" th:value="${dto.procurementDeliveryDate}" readonly>
                        <!--<input type="text" class="form-control"
                           th:value="${#temporals.format(dto.procurementDeliveryDate, 'yyyy-MM-dd')}" readonly>-->
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">담당자</span>
                        <!--사원일련번호로 담당자명 가져오기-->
                        <input type="text" class="form-control" th:value="${dto.employee}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재조달상태</span>
                        <input type="text" class="form-control" th:value="${dto.materialProcurementState}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">등록일</span>
                        <input type="text" class="form-control"
                               th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">수정일</span>
                        <input type="text" class="form-control"
                               th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd')}" readonly>
                    </div>

                    <div class="my-4" th:with="user=${#authentication.principal}">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}" >
                            <a th:href="|@{/materialProcurementPlanning/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <!--employeeNo에서 이름가져옴. username == dto.employeeName-->
                            <!--<a th:if="${user != null && user.username == dto.employeeNo}"-->
                            <a   th:href="|@{/materialProcurementPlanning/modify(materialProcurementPlanNo=
                            ${dto.materialProcurementPlanNo})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>
                        </div>
                    </div>

                </div><!--end card body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->

</div>

<script layout:fragment="script" th:inline="javascript">

</script>

</html>