<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>자재조달계획 상세</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    자재조달계획 상세
                </div>
                <div class="card-body mt-3">
                    <div class="input-group mb-3 d-none">
                        <span class="input-group-text">자재조달계획 일련번호</span>
                        <input type="text" name="materialProcurementPlanNo" class="form-control" th:value="${dto.materialProcurementPlanNo}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">자재조달계획 코드</span>
                        <input type="text" name="materialProcurementPlanCode" class="form-control materialProcurementPlanCode" th:value="${dto.materialProcurementPlanCode}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">생산계획 코드</span>
                        <input type="text" name="productionPlanCode" class="form-control selectPlan" th:value="${dto.productionPlanCode}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재코드</span>
                        <input type="text" name="materialCode" class="form-control" th:value="${dto.materialCode}" readonly>
                    </div>
                    <div class="input-group mb-3 pl-5">
                        <span class="input-group-text">자재타입</span>
                        <input type="text" name="materialType" class="form-control" th:value="${dto.materialType}" readonly>
                    </div>
                    <div class="input-group mb-3 pl-5">
                        <span class="input-group-text">자재이름</span>
                        <input type="text" name="materialName" class="form-control" th:value="${dto.materialName}" readonly>
                    </div>
                    <div class="input-group mb-3 pl-5">
                        <span class="input-group-text">자재 공급단가</span>
                        <input type="text" name="materialSupplyPrice" class="form-control" th:value="${dto.materialSupplyPrice}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재 소요량</span>
                        <input type="number" name="materialRequirementsCount" class="form-control" th:value="${dto.materialRequirementsCount}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">납기일</span>
                        <input type="text" name="procurementDeliveryDate" class="form-control" th:value="${dto.procurementDeliveryDate}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">자재조달 상태</span>
                        <input type="text" name="materialProcurementState" class="form-control" th:value="${dto.materialProcurementState}" readonly>
                    </div>

                    <div class="input-group mb-3 d-none">
                        <span class="input-group-text">담당자 일련번호</span>
                        <input type="text" name="employeeNo" class="form-control" th:value="${dto.employeeNo}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">담당자</span>
                        <input type="text" name="employeeName" class="form-control employeeName" th:value="${dto.employeeName}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">조달 계획 등록일</span>
                        <input type="text" name="regDate" class="form-control"
                               th:value="${#temporals.format(dto.regDate, 'yyyy-MM-dd')}" readonly>
                        <span class="input-group-text" style="margin-left: 20px">조달 계획 수정일</span>
                        <input type="text" name="modDate" class="form-control"
                               th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd')}" readonly>
                    </div>


                    <div class="my-4" th:with="user=${#authentication.principal}">
                        <div class="float-end" th:with="link = ${pageRequestDTO.getLink()}" >
                           <!-- <button type="button" class="btn btn-default btn-outline afterComp">조달 완료됨</button>
                            <button type="button" class="btn btn-warning completeButton" onclick="compProcurementPlanning()">조달 계획 완료</button>-->

                            <a th:href="|@{/materialProcurementPlanning/list}?${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-primary">List</button>
                            </a>
                            <a   th:href="|@{/materialProcurementPlanning/modify(materialProcurementPlanNo=
                            ${dto.materialProcurementPlanNo})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">Modify</button>
                            </a>
                            <a   th:href="|@{/materialProcurementPlanning/orderList(materialProcurementPlanNo=
                            ${dto.materialProcurementPlanNo})}&${link}|" class="text-decoration-none">
                                <button type="button" class="btn btn-secondary">OrderList</button>
                            </a>
                        </div>
                    </div>

                </div><!--end card body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->

</div>

<script layout:fragment="script" th:inline="javascript">

    console.log([[${dto}]])
    //
    // //조달 계획 상태 변경 (조달 계약 완료 시 조달 계획 완료)
    // let state = [[${dto.materialProcurementState}]]
    //
    // const materialProcurementPlanNo = [[${dto.materialProcurementPlanNo}]]
    // // const materialProcurementContractNo = [[${dto.materialProcurementContractNo}]]
    // const link = [[${pageRequestDTO.getLink()}]]

    //
    // const afterCompButton = document.querySelector('.afterComp')
    // const completeButton = document.querySelector('.completeButton')
    // const modifyButton = document.querySelector('.modifyButton')
    //
    // function printButton(state){
    //
    //     console.log(state)
    //
    //     switch (state){
    //
    //         case '조달완료(계약완료)':
    //             afterCompButton.style.display = 'none'
    //             completeButton.style.display = 'inline'
    //             modifyButton.style.display = 'none'
    //             break;
    //         case '조달계획완료' :
    //             afterCompButton.style.display = 'inline'
    //             completeButton.style.display = 'none'
    //             modifyButton.style.display = 'none'
    //             break;
    //         default :
    //             afterCompButton.style.display = 'none'
    //             completeButton.style.display = 'none'
    //             modifyButton.style.display = 'inline'
    //
    //     }
    //
    // }

    // printButton(state)
    //
    //
    // function compProcurementPlanning(){
    //
    //     completeProcurementPlanning({materialProcurementPlanNo, materialProcurementPlanNo}).then(
    //         location.href="/materialProcurementPlanning/read?materialProcurementPlanNo="+materialProcurementPlanNo+"&"+link
    //     ).catch( e =>{
    //         console.log(e)
    //     })
    //
    // }

</script>

</html>