<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
  <meta charset="UTF-8">
  <title>자재조달계획 등록</title>
</head>

<div layout:fragment="content">

  <div class="row mt-3">
    <div class="col">
      <div class="card">
        <div class="card-header">
          자재조달계획 등록
        </div>
        <div class="card-body mt-3">
          <form action="/materialProcurementPlanning/register" method="post">

            <div class="input-group mb-3">
              <span class="input-group-text">자재조달계획 코드</span>
              <input type="text" name="materialProcurementPlanCode" class="form-control" id="materialProcurementPlanCode" placeholder="클릭해주세요" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">생산계획 일련번호</span>
              <input type="text" name="productionPlanNo" class="form-control selectPlan" placeholder="클릭해주세요" readonly>
            </div>

            <div class="d-none input-group mb-3">
              <span class="input-group-text">자재 일련번호</span>
              <input type="text" name="materialNo" class="form-control materialNo" placeholder="클릭해주세요" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">자재 코드</span>
              <input type="text" name="materialCode" class="form-control" id="selectMaterial" placeholder="클릭해주세요" readonly>
            </div>

            <div class="input-group mb-3 pl-5">
              <span class="input-group-text">자재 타입</span>
              <input type="text" name="materialType" class="form-control materialType" readonly>
            </div>

            <div class="input-group mb-3 pl-5">
              <span class="input-group-text">자재 이름</span>
              <input type="text" name="materialName" class="form-control materialName" readonly>
            </div>

            <div class="input-group mb-3 pl-5">
              <span class="input-group-text">자재 공급단가</span>
              <input type="text" name="materialSupplyPrice" class="form-control materialSupplyPrice" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">자재 소요량</span>
              <input type="number" name="materialRequirementsCount" class="form-control materialRequirementsCount" placeholder="자재 소요량">
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">납기일</span>
              <input type="date" name="procurementDeliveryDate" class="form-control procurementDeliveryDate" placeholder="납기일">
            </div>

            <div class="input-group mb-3 d-none">
              <span class="input-group-text">담당자 일련번호</span>
              <input type="text" name="employeeNo" class="form-control" th:value="${user.employeeNo}" readonly>
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">담당자 이름</span>
              <input type="text" name="employeeName" class="form-control" th:value="${user.employeeName}" readonly>
            </div>

            <!--
               <div class="input-group mb-3">
                  <span class="input-group-text">자재조달상태</span>
                    <select name="materialProcurementState">
                        <option value="진행중" selected>진행중</option>
                        <option value="파기">파기</option>
                        <option value="완료">완료</option>
                    </select>
                </div>
            -->

              <div class="input-group mb-3">
                <span class="input-group-text">자재조달상태</span>
                <input type="text" name="materialProcurementState" class="form-control" placeholder="자재조달상태 - 추후 숨길 부분" th:value="진행중" readonly>
              </div>


            <div class="my-4">
              <div class="float-end">
                <a th:href="@{/materialProcurementPlanning/list}" class="text-decoration-none">
                  <button type="button" class="btn btn-outline-dark">List</button>
                </a>
                <button type="submit" class="btn btn-primary submitBtn">Submit</button>
                <button type="reset" class="btn btn-secondary">Reset</button>
              </div>
            </div>

          </form>

        </div><!--end card body-->
      </div><!--end card-->
    </div><!--end col-->
  </div><!--end row-->

  <!--생산 계획 선택을 위한 모달창-->
  <div class="modal selectPlanModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">생산 계획 검색</h5>
        </div>
        <div class="modal-body">


          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">제품코드</th>
                      <th scope="col">클라이언트 회사명</th>
                      <th scope="col">납기일</th>
                      <th scope="col">계약상태</th>
                    </tr>
                    </thead>

                    <tbody class="planList">

                    </tbody>
                  </table>

                  <div class="float-end">
                    <ul class="pagination flex-wrap planPaging"></ul>
                  </div>
                </div><!--end card body-->
              </div><!--end card-->
            </div><!--end col-->
          </div><!--end row-->

        </div><!--end modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark closePlanBtn">Close</button>
        </div>
      </div>
    </div>
  </div><!--end 생산 계획 모달창-->


  <!--자재 선택을 위한 모달창-->
  <div class="modal selectMaterialModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">자재 검색</h5>
        </div>
        <div class="modal-body">


          <div class="row mt-3">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                      <th scope="col">NO</th>
                      <th scope="col">자재 코드</th>
                      <th scope="col">자재 이름</th>
                      <th scope="col">자재 분류</th>
                      <th scope="col">공급 단가</th>
                    </tr>
                    </thead>

                    <tbody class="materialList">

                    </tbody>
                  </table>

                  <div class="float-end">
                    <ul class="pagination flex-wrap materialPaging"></ul>
                  </div>
                </div><!--end card body-->
              </div><!--end card-->
            </div><!--end col-->
          </div><!--end row-->

        </div><!--end modal body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark closeMaterialBtn">Close</button>
        </div>
      </div>
    </div>
  </div><!--end 자재 모달창-->

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="/js/materialProcurementPlanning.js"></script>

</div>



<script layout:fragment="script" th:inline="javascript">


  const auth = [[${#authentication}]]

  console.log(auth)

  // 등록시 에러 처리 ----------------------------------------------------------------

  const errors = [[${errors}]]
  console.log(errors)

  let errorMsg = ''

  if (errors) {
    for (let i = 0; i < errors.length; i++) {
      errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
    }
    alert(errorMsg)
  }


  //생산 계획 선택 --------------------------------------------------------------------

  const planModal = new bootstrap.Modal(document.querySelector(".selectPlanModal"))

  const planList = document.querySelector(".planList")  //생산 계획 목록 DOM
  const planPaging = document.querySelector(".planPaging")  //생산 계획 페이지 선택 목록 DOM

  const closePlanBtn = document.querySelector(".closePlanBtn")

  let planPage = 1
  let planPageSize = 5

  document.querySelector(".selectPlan").addEventListener("click", function (e) {
    console.log("select plan click")
    printPlans(1, 5)
    planModal.show()
  }, false)

  closePlanBtn.addEventListener("click", function (e) {
    planModal.hide()
  })

  function printPlanList(dtoList) { //생산 계획 목록

    console.log("print production plan list")

    let str = ''

    if (dtoList && dtoList.length > 0) {

      for ( const dto of dtoList) {

        console.log(dto)

        str += `<tr>
                <td data-planNo="${dto.productionPlanNo}">${dto.productionPlanNo}</td>
                <td data-planNo="${dto.productionPlanNo}">${dto.productCode}</td>
                <td data-planNo="${dto.productionPlanNo}">${dto.clientName}</td>
                <td data-planNo="${dto.productionPlanNo}">${dto.productDeliveryDate}</td>
                <td data-planNo="${dto.productionPlanNo}">${dto.clientStatus}</td>
            </tr>`
      }
    }

    planList.innerHTML = str

  }

  //생산 계획 목록 페이징 처리
  function printPlanPages(data) {

    let pageStr = '';

    if (data.prev) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
    }
    for (let i = data.start; i <= data.end; i++) {
      pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
    }
    if (data.next) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
    }
    planPaging.innerHTML = pageStr

    planPage = data.page

  }

  function printPlans(page, size) {

    getPlanList({page, size}).then(
            data => {
              printPlanList(data.dtoList)
              printPlanPages(data)
            }
    ).catch(e => {
      console.log("print production plans error")
      console.error(e)
    })
  }

  //생산계획 목록 페이징
  planPaging.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if (!target || target.tagName != 'A') {
      return
    }

    const pageNum = target.getAttribute("data-page")
    planPage = pageNum
    printPlans(planPage, planPageSize)

  }, false)

  const inputPlanNo = document.querySelector(".selectPlan")
  const productCode = document.querySelector(".productCode")  //제품코드
  const clientName = document.querySelector(".clientName")  //클라이언트회사명
  const productDeliveryDate = document.querySelector(".productDeliveryDate")  //제품납기일
  const clientStatus = document.querySelector(".clientStatus")  //계약상태


  //생산 계획 항목 클릭시 input에 반영
  planList.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    console.log("production plan click")

    const target = e.target

    if (!target || target.tagName != 'TD') {
      return
    }

    const planNo = target.getAttribute("data-planNo")

    if (!planNo) {
      return
    }

    getPlan(planNo).then(plan => {

      console.log(plan)
      inputPlanNo.value = plan.productionPlanNo
      //생산 계획 정보를 가져와서 화면에 반영해야 할 항복들은 여기에 --------------------------------------------------------
      productCode.value = plan.productCode
      clientName.value = plan.clientName
      productDeliveryDate.value = new Date(plan.productDeliveryDate).toISOString().split('T')[0]
      clientStatus.value = plan.clientStatus
      //----------------------------------------------------------------------------------------------------------

      planModal.hide()

    }).catch(e => alert('error'))

  }, false)


  //자재 선택 --------------------------------------------------------------------------------------------------

  const materialModal = new bootstrap.Modal(document.querySelector(".selectMaterialModal"))

  const materialList = document.querySelector(".materialList")  //자재 목록 DOM
  const materialPaging = document.querySelector(".materialPaging")  //자재 페이지 선택 목록 DOM

  const closeMaterialBtn = document.querySelector(".closeMaterialBtn")

  let materialPage = 1
  let materialPageSize = 5

  document.querySelector("#selectMaterial").addEventListener("click", function (e) {
    console.log("select material modal show")
    printMaterials(1, 5)
    materialModal.show()
  }, false)

  closeMaterialBtn.addEventListener("click", function (e) {
    materialModal.hide()
  })

  function printMaterialList(dtoList) { //자재 목록

    let str = ''

    if (dtoList && dtoList.length > 0) {

      for ( const dto of dtoList) {

        console.log(dto)

        str += `<tr>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialNo}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialCode}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialType}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialName}</td>
                  <td data-materialsNo = "${dto.materialNo}">${dto.materialSupplyPrice}</td>
              </tr>`
      }
    }

    materialList.innerHTML = str
  }

  function printMaterialPages(data) { //자재 목록 페이징 처리

    let pageStr = '';

    if (data.prev) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.start - 1}">PREV</a></li>`
    }
    for (let i = data.start; i <= data.end; i++) {
      pageStr += `<li class="page-item ${i == data.page ? "active" : ""}"><a class="page-link" data-page="${i}">${i}</a></li>`
    }
    if (data.next) {
      pageStr += `<li class="page-item"><a class="page-link" data-page="${data.end + 1}">NEXT</a></li>`
    }
    materialPaging.innerHTML = pageStr

    materialPage = data.page

  }

  function printMaterials(page, size) {

    getMaterialList({page, size}).then(
            data => {
              printMaterialList(data.dtoList)
              printMaterialPages(data)
            }
    ).catch(e => {
      console.error(e)
    })
  }

  //자재 목록 페이징
  materialPaging.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    const target = e.target

    if (!target || target.tagName != 'A') {
      return
    }

    const pageNum = target.getAttribute("data-page")
    materialPage = pageNum
    printMaterials(materialPage, materialPageSize)

  }, false)

  const materialNo = document.querySelector(".materialNo")
  const inputMaterialCode = document.querySelector("#selectMaterial")
  const materialType = document.querySelector(".materialType")
  const materialName = document.querySelector(".materialName")
  const materialSupplyPrice = document.querySelector(".materialSupplyPrice")

  //자재 항목 클릭시 input에 반영
  materialList.addEventListener("click", function (e) {

    e.preventDefault()
    e.stopPropagation()

    console.log("material click")

    const target = e.target

    if (!target || target.tagName != 'TD') {
      return
    }

    const materialsNo = target.getAttribute("data-materialsNo")

    if (!materialsNo) {
      return;
    }

    getMaterial(materialsNo).then(material => {

      console.log(material)
      console.log("check0")
      materialNo.value = material.materialNo
      //자재 정보를 가져와서 화면에 반영해야 할 항목들은 여기에 --------------------------------------------------------
      console.log("check1")
      inputMaterialCode.value = material.materialCode
      materialType.value = material.materialType
      console.log("check2")
      materialName.value = material.materialName
      //------------------------------------------------------------------------------------------------------
      materialSupplyPrice.value = material.materialSupplyPrice
      console.log("성공")
      materialModal.hide()

    }).catch(e => alert('error'))

  }, false)

  //조달계획 코드 생성 -------------------------------------------------------------------------------------------------------------

  const materialProcurementPlanCode = document.querySelector("#materialProcurementPlanCode")

  materialProcurementPlanCode.addEventListener("click", function(e) {

    let str = 'MP-PLANNING-'

    str += new Date().toISOString().split('T')[0].replaceAll('-','')
    str += '-'

    getCodeCount(str).then( result => {

      str += result.data

      materialProcurementPlanCode.value = str

    }).catch(e => alert('error'))


  }, false)


</script>


</html>