<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">

<head>
    <meta charset="UTF-8">
    <title>자재 등록</title>

    <!-- Styles -->
    <link th:href="@{/css/lib/font-awesome.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/themify-icons.css}" rel="stylesheet">
    <link th:href="@{/css/lib/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/lib/helper.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.min.css}" rel="stylesheet"/>
</head>

<div layout:fragment="content">
    <div class="row justify-content-between">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-title">
                    <strong>자재 등록</strong>
                    <hr>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" action="/material/register" method="post">
                        <!-- 자재 분류 -->
                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>분류(타입)</strong></label>
                                <div class="col-sm-9">
                                    <input type="text" name="materialType" class="form-control materialType" placeholder="Title">
                                </div>
                            <label class="col-sm-3 control-label"><strong>자재코드</strong></label>
                                <div class="col-sm-9">
                                    <input type="text" name="materialCode" class="form-control materialCode" placeholder="클릭해주세요" readonly>
                                </div>
                            <label class="col-sm-3 control-label"><strong>자재이름</strong></label>
                                <div class="col-sm-9">
                                    <input type="text" name="materialName" class="form-control materialName" placeholder="Name">
                                </div>
                            <label class="col-sm-3 control-label"><strong>자재공급단가</strong></label>
                                <div class="col-sm-9">
                                    <input type="text" name="materialSupplyPrice" class="form-control materialSupplyPrice" placeholder="SupplyPrice">
                                </div>

                        </div>
                        <hr>
                        <div class="row">
                            <label class="col-sm-3 control-label"><strong>이미지 첨부</strong></label>
                            <div class="col-sm-9">
                                <div class="float-end uploadHidden">
                                    <!-- 첨부파일 섬네일을 보여줄 부분 -->
                                    <button type="button" class="btn btn-primary uploadFileBtn">이미지 첨부</button>
                                    <div class="row mt-3">
                                        <div class="container-fluid d-flex uploadResult">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <label class="col-sm-3 control-label"><strong>자재설명</strong></label>
                            <div class="col-sm-9">
                                <input type="text" name="materialExplaination" class="form-control materialExplaination" placeholder="Explaination">
                            </div>
                        </div>

                            <div class="my-4">
                                <div class="float-end">
                                    <a th:href="@{/material/list}" class="text-decoration-none">
                                        <button type="button" class="btn btn-outline-dark">자재목록</button>
                                    </a>
                                    <button type="submit" class="btn btn-primary submitBtn">저장</button>
                                    <button type="reset" class="btn btn-secondary">되돌리기</button>
                                </div>
                            </div>
                    </form>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">자재 이미지 첨부</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">확인</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">취소</button>
                </div>
            </div>
        </div>
    </div> <!-- register modal -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/materialImg.js" ></script>
    <script src="/js/material.js"></script>

</div> <!-- layout fragment end -->

<script layout:fragment="script" th:inline="javascript">

    // 업로드 모달 창 닫기
    const closeBtn = document.querySelector(".closeUploadBtn")
    closeBtn.addEventListener("click", e => {
        uploadModal.hide()
    });


    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    //업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e){
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()

    }, false)

    document.querySelector(".uploadBtn").addEventListener("click", function (e) {

        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files


        for (let i = 0; i < files.length; i++ ) {

            formObj.append("files", files[i]);

        }

        uploadToServer(formObj).then(result => {
            //console.log(result)
            for (const uploadResult of result) {
                showUploadFile(uploadResult)
            }

            uploadModal.hide()
        }).catch(e => {
            uploadModal.hide()
        })

    }, false)

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({materialUuid, materialImgName, link}){

        const str = `<div class="card col-4">
                        <div class="card-header d-flex justify-content-center">
                            ${materialImgName}
                            <button class="btn-sm btn-danger" type="button" onclick="javascript:removeFile('${materialUuid}', '${materialImgName}', this)" >X</button>
                        </div>
                        <div class="card-body">
                            <img src="/viewMaterial/${link}" data-src="${materialUuid+"_"+materialImgName}" >
                        </div>
                    </div><!-- card -->`

        uploadResult.innerHTML += str
    }

    function removeFile(materialUuid, materialImgName, obj){
        console.log(materialUuid)
        console.log(materialImgName)
        console.log(obj)

        const targetDiv = obj.closest(".card")

        removeFileToServer(materialUuid, materialImgName).then(data =>{
            targetDiv.remove()
        })
    }

    document.querySelector(".submitBtn").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        const target = document.querySelector(".uploadHidden")

        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for(let i = 0; i < uploadFiles.length; i++){
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("src") //data-src

            str +=`<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        target.innerHTML = str;

        document.querySelector("form").submit();
    }, false)

    //자재 코드 생성 ---------------------------------------------------------------------------------------------

    const materialCode = document.querySelector(".materialCode")


    materialCode.addEventListener("click", function(e) {

        let str = `Material-`

        str += new Date().toISOString().split('T')[0].replaceAll('-','')
        //toISOString() 메서드를 사용해서 "YYYY-MM-DDTHH:mm:ss.sssZ"의 날짜 및 시간 정보를 받옴
        //해당 형식에서 "T"를 기준으로 잘라 날짜만 가져옴 !

        str += '-'

        getCodeCount(str).then( result => {

            str += result.data

            materialCode.value = str

        }).catch(e => alert('error'))


    }, false)

    function removeFile(materialUuid, materialImgName, obj){
        console.log(materialUuid)
        console.log(materialImgName)
        console.log(obj)

        const targetDiv = obj.closest(".card")

        removeFileToServer(materialUuid, materialImgName).then(data =>{
            targetDiv.remove()
        })
    }

    document.querySelector(".submitBtn").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        const target = document.querySelector(".uploadHidden")

        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for(let i = 0; i < uploadFiles.length; i++){
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")  // 서비스에서 첨부파일 이름 db에 추가할때 이름을 배열로 처리 src가 아니고 data-src를 보내줘야됨

            str +=`<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        target.innerHTML = str;

        document.querySelector("form").submit();
    }, false)

    const auth = [[${#authentication}]]

    const error = [[${errors}]]
    console.log(error)

</script>

