<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">

<head>
    <title>Material Register</title>
</head>

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Material Register
                </div>
                <div class="card-body">
                    <form action="/material/register" method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">분류(타입)</span>
                            <input type="text" name="materialType" class="form-control" placeholder="Title">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">자제코드</span>
                            <input type="text" name="materialCode" class="form-control materialCode" placeholder="클릭해주세요" >
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재이름</span>
                            <input type="text" name="materialName" class="form-control" placeholder="Name">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재설명</span>
                            <input type="text" name="materialExplaination" class="form-control" placeholder="Explaination">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">자재공급단가</span>
                            <input type="text" name="materialSupplyPrice" class="form-control" placeholder="SupplyPrice">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">이미지 첨부</span>
                            <div class="float-end uploadHidden">
                                <button type="button" class="btn btn-primary uploadFileBtn">파일 선택</button>
                            </div>
                        </div>
                        <!--
                        <label for="attachFile">이미지 첨부</label>
                        <input type="file" id="attachFile" name="attachFile"/>
                        !-->


                        <div class="my-4">
                            <div class="float-end">
                                <a th:href="@{/material/list}" class="text-decoration-none">
                                    <button type="button" class="btn btn-outline-dark">자재목록</button>
                                </a>
                                <button type="submit" class="btn btn-primary submintBtn">저장</button>
                                <button type="reset" class="btn btn-secondary">되돌리기</button>
                            </div>
                        </div>
                    </form>
                </div> <!-- end card body -->
            </div> <!-- end card -->
        </div> <!-- end col -->
    </div> <!-- end row -->

    <!-- 첨부파일 섬네일을 보여줄 부분 -->
    <div class="row mt-3">
        <div class="col">
            <div class="container-fluid d-flex uploadResult" style="flex-wrap: wrap;">

            </div>
        </div>
    </div>

    <!-- 첨부파일 추가를 위한 모달창 -->
    <div class="modal uploadModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="file" name="files" class="form-control" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary uploadBtn">확인</button>
                    <button type="button" class="btn btn-outline-dark closeUploadBtn">취소</button>
                </div>
            </div>
        </div>
    </div> <!-- register modal -->

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/materialImg.js"></script>

</div> <!-- layout fragment end -->

<script layout:fragment="script" th:inline="javascript">

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i < errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        alert(errorMsg)
    }

    //업로드 모달
    const uploadModal = new bootstrap.Modal(document.querySelector(".uploadModal"))

    document.querySelector(".uploadFileBtn").addEventListener("click", function (e){
        e.stopPropagation()
        e.preventDefault()
        uploadModal.show()

    }, false)

    document.querySelector(".uploadBtn").addEventListener("click", function (e) {

        const formObj = new FormData();

        const fileInput = document.querySelector("input[name='files']")

        console.log(fileInput.files)

        const files = fileInput.files

        for(let i = 0; i < files.length; i++) {
            formObj.append("files", files[i]);
        }

        uploadToServer(formObj).then(result => {

            console.log(result)
            for(const uploadResult of result){
                showUploadFile(uploadResult)
            }

            //showUploadFile(uploadResult)

            uploadModal.hide()

        }).catch(e => {
            uploadModal.hide()
        })

    }, false)

    const uploadResult = document.querySelector(".uploadResult")

    function showUploadFile({materialUuid, materialImgName, link}){

        const str = `<div class="card col-4">
                        <div class="card-header d-flex justify-content-center">
                            ${materialImgName}
                            <button class="btn-sm btn-danger" onclick="javascript:removeFile('${materialUuid}', '${materialImgName}', this)" >X</button>
                        </div>
                        <div class="card-body">
                            <img src="/viewMaterial/${link}" data-src="${materialUuid+"_"+materialImgName}" >
                        </div>
                    </div><!-- card -->`

        uploadResult.innerHTML += str
    }


    //자재 코드 생성 ---------------------------------------------------------------------------------------------

    const materialCode = document.querySelector(".materialCode")

    materialCode.addEventListener("click", function(e) {

        let str = 'Material-'

        str += new Date().toISOString().split('T')[0].replaceAll('-','')
        str += '-'

        getCodeCount(str).then( result => {

            str += result.data

            materialCode.value = str

        }).catch(e => alert('error'))


    }, false)


    function removeFile(materialUuid, materialImgName, obj){
        console.log(materialUuid)
        console.log(materialImgName)
        console.log(obj)

        const targetDiv = obj.closest(".card")

        removeFileToServer(materialUuid, materialImgName).then(data =>{
            targetDiv.remove()
        })
    }

    document.querySelector(".submitBtn").addEventListener("click", function (e){

        e.preventDefault()
        e.stopPropagation()

        const target = document.querySelector(".uploadHidden")

        const uploadFiles = uploadResult.querySelectorAll("img")

        let str = ''

        for(let i = 0; i < uploadFiles.length; i++){
            const uploadFile = uploadFiles[i]
            const imgLink = uploadFile.getAttribute("data-src")  // 서비스에서 첨부파일 이름 db에 추가할때 이름을 배열로 처리 src가 아니고 data-src를 보내줘야됨

            str +=`<input type='hidden' name='fileNames' value="${imgLink}">`
        }
        target.innerHTML = str;

        document.querySelector("form").submit();
    }, false)

    const auth = [[${#authentication}]]

    const error = [[${errors}]]
    console.log(error)

</script>

