<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>제품 계약 수정</title>
</head>

<div layout:fragment="content">

    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    제품 계약 수정
                </div>
                <div class="card-body mt-3">
                    <form th:action="@{/productContract/modify}" method="post" id="modifyForm">
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품 계약 일련번호</span>
                            <input type="text" name="productContractNo" class="form-control productContractNo" th:value="${dto.productContractNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 계약 코드</span>
                            <input type="text" name="productContractCode" class="form-control productContractCode" th:value="${dto.productContractCode}" readonly>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">제품 일련번호</span>
                            <input type="text" name="productNo" class="form-control productNo" th:value="${dto.productNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 코드</span>
                            <input type="text" name="productCode" class="form-control" id="selectProduct" th:value="${dto.productCode}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="margin-left: 50px">제품이름</span>
                            <input type="text" name="productName" class="form-control productName" th:value="${dto.productName}" readonly>
                            <span class="input-group-text" style="margin-left: 20px">제품타입</span>
                            <input type="text" name="productType" class="form-control productType" th:value="${dto.productType}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 계약 수량</span>
                            <input type="text" name="productQuantity" class="form-control productQuantity" th:value="${dto.productQuantity}">
                        </div>

                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">클라이언트 일련번호</span>
                            <input type="text" name="clientNo" class="form-control clientNo" th:value="${dto.clientNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">클라이언트 회사명</span>
                            <input type="text" name="clientName" class="form-control" id="selectClient" th:value="${dto.clientName}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" style="margin-left: 50px">대표명</span>
                            <input type="text" name="clientCeo" class="form-control clientCeo" th:value="${dto.clientCeo}" readonly>
                            <span class="input-group-text" style="margin-left: 20px">연락처</span>
                            <input type="text" name="clientPhone" class="form-control clientPhone" th:value="${dto.clientPhone}" readonly>
                        </div>
                        <div class="input-group mb-3 d-none">
                            <span class="input-group-text">클라이언트 주소</span>
                            <input type="text" name="clientAddress" class="form-control clientAddress" th:value="${dto.clientAddress}" readonly>
                        </div>
                        <div class="input-group mb-3 pl-5">
                            <span class="input-group-text">클라이언트 계약 상태</span>
                            <input type="text" name="clientStatus" class="form-control clientStatus" th:value="${dto.clientStatus}" readonly>
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text">계약일</span>
                            <input type="date" name="productContractDate" class="form-control productContractDate" th:value="${dto.productContractDate}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">제품 납기일</span>
                            <input type="date" name="productDeliveryDate" class="form-control productDeliveryDate" th:value="${dto.productDeliveryDate}" >
                        </div>
                        <div class="input-group mb-3" >
                            <span class="input-group-text">상세 견적 내용</span>
                            <textarea name="productQuotation" rows="5" cols="50" class="form-control h-25" >[[${dto.productQuotation}]]</textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">계약 진행 상태</span>
                            <input type="text" name="productContractState" class="form-control" th:value="${dto.productContractState}" readonly>
                        </div>

                        <div class="d-none input-group mb-3">
                            <span class="input-group-text">담당자 일련번호</span>
                            <input type="text" name="employeeNo" class="form-control" th:value="${dto.employeeNo}" readonly>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">담당자 이름</span>
                            <input type="text" name="employeeName" class="form-control" th:value="${dto.employeeName}" readonly>
                        </div>

                        <div class="my-4">
                            <div class="float-end">
                                <button type="button" class="btn btn-primary modBtn">Modify</button>
                                <button type="button" class="btn btn-secondary listBtn">List</button>
                                <button type="button" class="btn btn-secondary readBtn">GoBack</button>
                                <button type="button" class="btn btn-danger removeBtn">Remove</button>
                            </div>
                        </div>
                    </form>
                </div><!-- end card body -->
            </div><!-- end card -->
        </div><!-- end col -->
    </div><!-- end row -->

</div>


<script layout:fragment="script" th:inline="javascript">

    console.log([[${dto}]])

    // 에러 처리 ------------------------------------------------------------------------------

    const errors = [[${errors}]]
    console.log(errors)

    let errorMsg = ''

    if(errors){
        for(let i = 0; i<errors.length; i++) {
            errorMsg += `${errors[i].field}은(는) ${errors[i].code} \n`
        }
        history.replaceState({}, null, null)
        alert(errorMsg)
    }

    // 목록 페이지로 이동 ---------------------------------------------------------

    document.querySelector(".listBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/productContract/list?${link}`

    }, false)

    // 수정 처리 ------------------------------------------------------

    const link = [[${pageRequestDTO.getLink()}]]
    const formObj = document.querySelector("#modifyForm")
    const productContractNo = [[${dto.productContractNo}]]

    document.querySelector(".modBtn").addEventListener("click", function (e) {
        e.preventDefault()
        e.stopPropagation()


        formObj.action = `/productContract/modify?${link}`
        formObj.method = 'post'
        formObj.submit()

    }, false)

    // 상세 페이지로 이동 ---------------------------------------------------------

    document.querySelector(".readBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.reset()
        self.location = `/productContract/read?productContractNo=${productContractNo}&${link}`

    }, false)

    // 삭제 처리 (임시) -----------------------------------------------------------

    document.querySelector(".removeBtn").addEventListener("click", function (e) {

        e.preventDefault()
        e.stopPropagation()

        formObj.action = '/productContract/remove'
        formObj.method = 'post'
        formObj.submit()

    }, false);

</script>


</html>